EEMS/bin/Release/ar/json resources/dx-rich.ar.json
{
  "OfficeStringId.Caption_EditHyperlinkForm": "تحرير ارتباط تشعبي",
  "OfficeStringId.Caption_EditHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_InsertHyperlinkForm": "إدراج ارتباط تشعبي",
  "OfficeStringId.Caption_InsertHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_UnitCentimeters": "سنتيمتر",
  "OfficeStringId.Caption_UnitInches": "بوصة",
  "OfficeStringId.Caption_UnitMillimeters": "ملليمتر",
  "OfficeStringId.Caption_UnitPercent": "في المائة",
  "OfficeStringId.Caption_UnitPoints": "النقاط",
  "OfficeStringId.FileFilterDescription_AllFiles": "جميع الملفات",
  "OfficeStringId.FileFilterDescription_AllSupportedFiles": "All Supported Files",
  "OfficeStringId.FileFilterDescription_BitmapFiles": "صورة نقطية Windows",
  "OfficeStringId.FileFilterDescription_EmfFiles": "ملف التعريف المحسن ل Microsoft",
  "OfficeStringId.FileFilterDescription_GifFiles": "تنسيق تبادل الرسومات",
  "OfficeStringId.FileFilterDescription_JPEGFiles": "تنسيق تبادل ملف JPEG",
  "OfficeStringId.FileFilterDescription_PNGFiles": "رسومات الشبكة للأجهزة المحمولة",
  "OfficeStringId.FileFilterDescription_TiffFiles": "تنسيق ملف صورة العلامة",
  "OfficeStringId.FileFilterDescription_WmfFiles": "Windows Metafile",
  "OfficeStringId.MenuCmd_AlignmentCenter": "مركز",
  "OfficeStringId.MenuCmd_AlignmentCenterDescription": "توسيط النص.",
  "OfficeStringId.MenuCmd_AlignmentJustify": "تبرير",
  "OfficeStringId.MenuCmd_AlignmentJustifyDescription": "النص محاذاة إلى الهوامش اليمنى واليسرى، إضافة مسافة زائدة بين الكلمات حسب الضرورة.\n\nوهذا يخلق نظرة نظيفة على طول اليسار والجانب الأيمن من الصفحة.",
  "OfficeStringId.MenuCmd_AlignmentLeft": "محاذاة النص لليسار",
  "OfficeStringId.MenuCmd_AlignmentLeftDescription": "محاذاة النص إلى اليسار.",
  "OfficeStringId.MenuCmd_AlignmentRight": "محاذاة النص إلى اليمين",
  "OfficeStringId.MenuCmd_AlignmentRightDescription": "محاذاة النص إلى اليمين.",
  "OfficeStringId.MenuCmd_ChangeFontColor": "لون الخط",
  "OfficeStringId.MenuCmd_ChangeFontColorDescription": "تغيير لون النص.",
  "OfficeStringId.MenuCmd_ChangeFontName": "الخط",
  "OfficeStringId.MenuCmd_ChangeFontNameDescription": "تغيير الخط الوجه.",
  "OfficeStringId.MenuCmd_ChangeFontSize": "حجم الخط",
  "OfficeStringId.MenuCmd_ChangeFontSizeDescription": "تغيير حجم الخط-",
  "OfficeStringId.MenuCmd_ClearUndo": "كليروندو",
  "OfficeStringId.MenuCmd_ClearUndoDescription": "تراجع مسح المخزن المؤقت",
  "OfficeStringId.MenuCmd_CopySelection": "نسخة",
  "OfficeStringId.MenuCmd_CopySelectionDescription": "نسخ التحديد ووضعه في الحافظة.",
  "OfficeStringId.MenuCmd_CutSelection": "قص",
  "OfficeStringId.MenuCmd_CutSelectionDescription": "قص التحديد من المستند، ووضعه في الحافظة.",
  "OfficeStringId.MenuCmd_DecreaseFontSize": "تقليص الخط",
  "OfficeStringId.MenuCmd_DecreaseFontSizeDescription": "إنقاص حجم الخط-",
  "OfficeStringId.MenuCmd_DeleteComment": "حذف",
  "OfficeStringId.MenuCmd_DeleteCommentDescription": "حذف التعليق المحدد.",
  "OfficeStringId.MenuCmd_EditComment": "تحرير تعليق",
  "OfficeStringId.MenuCmd_EditCommentDescription": "إضافة مذكرة حول هذا الجزء من المستند.",
  "OfficeStringId.MenuCmd_EditHyperlink": "تحرير ارتباط تشعبي...",
  "OfficeStringId.MenuCmd_EditHyperlinkDescription": "تحرير ارتباط تشعبي...",
  "OfficeStringId.MenuCmd_Encrypt": "تشفير باستخدام كلمة مرور",
  "OfficeStringId.MenuCmd_EncryptDescription": "طلب كلمة مرور لفتح هذا المصنف-",
  "OfficeStringId.MenuCmd_FloatingObjectBringForward": "إحضار إلى الأمام",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroup": "إحضار إلى الأمام",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroupDescription": "إحضار الكائن المحدد مستوى واحد إلى الأمام، أو جعله أمام كافة الكائنات الأخرى.",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardDescription": "إحضار الكائن المحدد إلى الأمام حتى أن كان مخفياً بعدد أقل من الكائنات التي أمام إجرائه.",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFront": "إحضار إلى الأمام",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFrontDescription": "إحضار الكائن المحدد أمام كافة الكائنات الأخرى بحيث يتم إخفاء لا جزء منه خلف كائنات أخرى.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackward": "إرسال إلى الخلف",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroup": "إرسال إلى الخلف",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroupDescription": "إرسال الكائن المحدد مستوى واحد إلى الوراء، أو إرساله خلف كل الكائنات الأخرى.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardDescription": "إرسال الكائن المحدد إلى الخلف حتى أن كان مخفياً بالكائنات التي أمام إجرائه.",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBack": "إرسال إلى الخلف",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBackDescription": "إرسال الكائن المحدد خلف كل الكائنات الأخرى.",
  "OfficeStringId.MenuCmd_Hyperlink": "الارتباط التشعبي",
  "OfficeStringId.MenuCmd_HyperlinkDescription": "إنشاء ارتباط إلى صفحة ويب، صورة أو عنوان بريد إلكتروني أو برنامج.",
  "OfficeStringId.MenuCmd_IncreaseFontSize": "تكبير الخط",
  "OfficeStringId.MenuCmd_IncreaseFontSizeDescription": "زيادة حجم الخط.",
  "OfficeStringId.MenuCmd_InsertComment": "تعليق جديد",
  "OfficeStringId.MenuCmd_InsertCommentDescription": "إضافة مذكرة حول هذا الجزء من المستند.",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPicture": "الصورة",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPictureDescription": "بإدراج صورة من ملف.",
  "OfficeStringId.MenuCmd_InsertHyperlink": "الارتباط التشعبي...",
  "OfficeStringId.MenuCmd_InsertHyperlinkDescription": "إضافة ارتباط تشعبي جديد.",
  "OfficeStringId.MenuCmd_InsertSymbol": "الرمز",
  "OfficeStringId.MenuCmd_InsertSymbolDescription": "إدراج الرموز التي هي الفقرة ليس على لوحة المفاتيح، مثل رموز حقوق النشر، رموز العلامات التجارية، علامات وأحرف Unicode.",
  "OfficeStringId.MenuCmd_LoadDocument": "مفتوحة",
  "OfficeStringId.MenuCmd_LoadDocumentDescription": "فتح مستند-",
  "OfficeStringId.MenuCmd_NewEmptyDocument": "جديد",
  "OfficeStringId.MenuCmd_NewEmptyDocumentDescription": "إنشاء مستند جديد-",
  "OfficeStringId.MenuCmd_OpenHyperlink": "فتح ارتباط تشعبي",
  "OfficeStringId.MenuCmd_OpenHyperlinkDescription": "فتح ارتباط تشعبي",
  "OfficeStringId.MenuCmd_PageMarginsModerate": "\nأعلى: أسفل {1,10}: {3,10}\n: يسار {0,10}: {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsModerateDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNarrow": "ضيقة\nأعلى: أسفل {1,10}: {3,10}\n: يسار {0,10}: {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNarrowDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNormal": "عادي\nأعلى: أسفل {1,10}: {3,10}\n: يسار {0,10}: {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNormalDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsWide": "واسعة\nأعلى: أسفل {1,10}: {3,10}\n: يسار {0,10}: {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsWideDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroup": "التوجه",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroupDescription": "قم بالتبديل بين صورة والمناظر الطبيعية من تخطيطات الصفحات.",
  "OfficeStringId.MenuCmd_PageOrientationLandscape": "المناظر الطبيعية",
  "OfficeStringId.MenuCmd_PageOrientationLandscapeDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationPortrait": "عمودي",
  "OfficeStringId.MenuCmd_PageOrientationPortraitDescription": " ",
  "OfficeStringId.MenuCmd_Paste": "لصق",
  "OfficeStringId.MenuCmd_PasteDescription": "لصق محتويات \"الحافظة\".",
  "OfficeStringId.MenuCmd_Print": "& طباعة",
  "OfficeStringId.MenuCmd_PrintDescription": "حدد طابعة وعدد النسخ وخيارات الطباعة الأخرى قبل الطباعة.",
  "OfficeStringId.MenuCmd_PrintPreview": "ما قبل الطباعة وعرض",
  "OfficeStringId.MenuCmd_PrintPreviewDescription": "معاينة الصفحات قبل الطباعة.",
  "OfficeStringId.MenuCmd_QuickPrint": "& طباعة سريعة",
  "OfficeStringId.MenuCmd_QuickPrintDescription": "إرسال المستند مباشرة إلى الطابعة الافتراضية دون إجراء تغييرات.",
  "OfficeStringId.MenuCmd_Redo": "الإعادة",
  "OfficeStringId.MenuCmd_RedoDescription": "الإعادة",
  "OfficeStringId.MenuCmd_RemoveHyperlink": "إزالة الارتباط التشعبي",
  "OfficeStringId.MenuCmd_RemoveHyperlinkDescription": "إزالة الارتباط التشعبي",
  "OfficeStringId.MenuCmd_RemoveHyperlinks": "إزالة الارتباطات التشعبية",
  "OfficeStringId.MenuCmd_RemoveHyperlinksDescription": "إزالة الارتباطات التشعبية",
  "OfficeStringId.MenuCmd_SaveDocument": "حفظ",
  "OfficeStringId.MenuCmd_SaveDocumentAs": "حفظ باسم",
  "OfficeStringId.MenuCmd_SaveDocumentAsDescription": "فتح مربع الحوار \"حفظ باسم\" تحديد تنسيق ملف وحفظ المستند إلى موقع جديد-",
  "OfficeStringId.MenuCmd_SaveDocumentDescription": "حفظ المستند.",
  "OfficeStringId.MenuCmd_ShowPasteSpecialForm": "لصق خاص",
  "OfficeStringId.MenuCmd_ShowPasteSpecialFormDescription": "إظهار مربع الحوار \"لصق خاص\"-",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuHeader": "الحالة.",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoom": "تكبير/تصغير",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoomSlider": "منزلق تكبير شريط",
  "OfficeStringId.MenuCmd_StatusBarZoomDescription": " انقر لفتح مربع الحوار تكبير/ تصغير.",
  "OfficeStringId.MenuCmd_StatusBarZoomSliderDescription": "تكبير/تصغير",
  "OfficeStringId.MenuCmd_ToggleFontBold": "غامق",
  "OfficeStringId.MenuCmd_ToggleFontBoldDescription": "جعل النص المحدد غامق.",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderline": "تسطير مزدوج",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "مزدوجة تسطير",
  "OfficeStringId.MenuCmd_ToggleFontItalic": "مائل",
  "OfficeStringId.MenuCmd_ToggleFontItalicDescription": "مائلة النص المحدد-",
  "OfficeStringId.MenuCmd_ToggleFontStrikeout": "يتوسطه خط",
  "OfficeStringId.MenuCmd_ToggleFontStrikeoutDescription": "رسم خط من خلال النص المحدد في المنتصف-",
  "OfficeStringId.MenuCmd_ToggleFontUnderline": "تسطير",
  "OfficeStringId.MenuCmd_ToggleFontUnderlineDescription": "تسطير النص المحدد-",
  "OfficeStringId.MenuCmd_Undo": "التراجع عن",
  "OfficeStringId.MenuCmd_UndoDescription": "التراجع عن",
  "OfficeStringId.MenuCmd_Zoom100Percent": "100%",
  "OfficeStringId.MenuCmd_Zoom100PercentDescription": "تكبير/تصغير المستند إلى 100% الحجم العادي.",
  "OfficeStringId.MenuCmd_ZoomIn": "التكبير",
  "OfficeStringId.MenuCmd_ZoomInDescription": "التكبير",
  "OfficeStringId.MenuCmd_ZoomOut": "التصغير",
  "OfficeStringId.MenuCmd_ZoomOutDescription": "التصغير",
  "OfficeStringId.Msg_InternalError": "حدث خطأ داخلي",
  "OfficeStringId.Msg_InvalidBeginInit": "Error: call to BeginInit inside BeginUpdate",
  "OfficeStringId.Msg_InvalidBeginUpdate": "Error: call to BeginUpdate inside BeginInit",
  "OfficeStringId.Msg_InvalidCopyFromDocumentModel": "خطأ: نماذج المستند المصدر والوجهة مختلفة",
  "OfficeStringId.Msg_InvalidEndInit": "خطأ: استدعاء إنهاء أو إلغاء الأمر في غير BeginInit أو داخل BeginUpdate",
  "OfficeStringId.Msg_InvalidEndUpdate": "Error: call to EndUpdate or CancelUpate without BeginUpdate or inside BeginInit",
  "OfficeStringId.Msg_InvalidFontSize": "يجب أن يكون الرقم بين {0} و {1}-",
  "OfficeStringId.Msg_InvalidNumber": "هذه ليست عددا صحيحاً.",
  "OfficeStringId.Msg_InvalidNumberConverterValue": "يجب أن تكون القيمة بين {0} و {1}-",
  "OfficeStringId.Msg_InvalidRemoveDataSource": "لا يمكن حذف مصدر بيانات أثناء عملية دمج المراسلات.",
  "OfficeStringId.Msg_IsNotValid": "'{0}' ليس قيمة صالحة ل '{1}'",
  "OfficeStringId.Msg_Loading": "تحميل...",
  "OfficeStringId.Msg_MagicNumberNotFound": "فتحه بتنسيق مختلف عن تنسيق ملحق الملف.",
  "OfficeStringId.Msg_UnsupportedFormatOrCorruptedFile": "الملف معطوب أو تنسيق غير معتمد.",
  "OfficeStringId.UnitAbbreviation_Centimeter": " cm",
  "OfficeStringId.UnitAbbreviation_Inch": "\"",
  "OfficeStringId.UnitAbbreviation_Millimeter": " mm",
  "OfficeStringId.UnitAbbreviation_Percent": "%",
  "OfficeStringId.UnitAbbreviation_Pica": " pc",
  "OfficeStringId.UnitAbbreviation_Point": " pt",
  "XtraRichEditStringId.BorderLineStyleNone": "لا شيء",
  "XtraRichEditStringId.Caption_AlignmentCenter": "توسيط",
  "XtraRichEditStringId.Caption_AlignmentDistribute": "وزعت",
  "XtraRichEditStringId.Caption_AlignmentJustify": "له ما يبرره",
  "XtraRichEditStringId.Caption_AlignmentJustifyHigh": "ضبط عالي",
  "XtraRichEditStringId.Caption_AlignmentJustifyLow": "ضبط منخفض",
  "XtraRichEditStringId.Caption_AlignmentJustifyMedium": "ضبط متوسط",
  "XtraRichEditStringId.Caption_AlignmentLeft": "اليسار",
  "XtraRichEditStringId.Caption_AlignmentRight": "حق",
  "XtraRichEditStringId.Caption_AlignmentThaiDistribute": "التايلندية الموزعة",
  "XtraRichEditStringId.Caption_AllMarkup": "جميع العلامات",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_Nothing": "لا شيء",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_SpaceCharacter": "الفضاء",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_TabCharacter": "حرف علامة جدولة",
  "XtraRichEditStringId.Caption_Bytes": "وحدات البايت",
  "XtraRichEditStringId.Caption_CaptionPrefixEquation": "المعادلة",
  "XtraRichEditStringId.Caption_CaptionPrefixFigure": "الرقم",
  "XtraRichEditStringId.Caption_CaptionPrefixTable": "الجدول",
  "XtraRichEditStringId.Caption_CharacterPositionLowered": "مخفضة",
  "XtraRichEditStringId.Caption_CharacterPositionNormal": "عادي",
  "XtraRichEditStringId.Caption_CharacterPositionRaised": "مرفوع مكثف",
  "XtraRichEditStringId.Caption_CharacterSpacingCondensed": "",
  "XtraRichEditStringId.Caption_CharacterSpacingExpanded": "وسعت",
  "XtraRichEditStringId.Caption_CharacterSpacingNormal": "عادي",
  "XtraRichEditStringId.Caption_ClipboardSubItem": "الحافظة",
  "XtraRichEditStringId.Caption_ColorAutomatic": "التلقائي",
  "XtraRichEditStringId.Caption_ColumnBreak": "فاصل أعمدة",
  "XtraRichEditStringId.Caption_Comments": "تعليقات",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomLeftCell": "الخلية اليمنى السفلي",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomRightCell": "الخلية اليمنى السفلي",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenColumnBanding": "حتى تجمعت الأعمدة",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenRowBanding": "حتى تجمعت الصفوف",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstColumn": "العمود الأول",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstRow": "صف الرأس",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastColumn": "العمود الأخير",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastRow": "صف الإجمالي",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddColumnBanding": "أعمدة مندمجة الغريب",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddRowBanding": "الصفوف المرتبطة الغريب",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopLeftCell": "الخلية العلوية اليمنى",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopRightCell": "الخلية اليمنى العلوية",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_WholeTable": "الجدول بأكمله",
  "XtraRichEditStringId.Caption_CurrentDocumentHyperlinkTooltip": "المستند الحالي",
  "XtraRichEditStringId.Caption_CurrentParagraphText": "نص عينة",
  "XtraRichEditStringId.Caption_CustomPropertyCheckedBy": "التحقق من قبل",
  "XtraRichEditStringId.Caption_CustomPropertyClient": "عميل",
  "XtraRichEditStringId.Caption_CustomPropertyDateCompleted": "تاريخ الانتهاء",
  "XtraRichEditStringId.Caption_CustomPropertyDepartment": "إدارة",
  "XtraRichEditStringId.Caption_CustomPropertyDestination": "الوجهة",
  "XtraRichEditStringId.Caption_CustomPropertyDisposition": "التصرف",
  "XtraRichEditStringId.Caption_CustomPropertyDivision": "شعبة",
  "XtraRichEditStringId.Caption_CustomPropertyDocumentNumber": "رقم المستند",
  "XtraRichEditStringId.Caption_CustomPropertyEditor": "محرر",
  "XtraRichEditStringId.Caption_CustomPropertyForwardTo": "إلى الأمام إلى",
  "XtraRichEditStringId.Caption_CustomPropertyGroup": "المجموعة",
  "XtraRichEditStringId.Caption_CustomPropertyLanguage": "اللغة",
  "XtraRichEditStringId.Caption_CustomPropertyMailstop": "ميلستوب",
  "XtraRichEditStringId.Caption_CustomPropertyMatter": "هذه المسألة",
  "XtraRichEditStringId.Caption_CustomPropertyNo": "No",
  "XtraRichEditStringId.Caption_CustomPropertyOffice": "مكتب",
  "XtraRichEditStringId.Caption_CustomPropertyOwner": "مالك",
  "XtraRichEditStringId.Caption_CustomPropertyProject": "المشروع",
  "XtraRichEditStringId.Caption_CustomPropertyPublisher": "الناشر",
  "XtraRichEditStringId.Caption_CustomPropertyPurpose": "والغرض",
  "XtraRichEditStringId.Caption_CustomPropertyReceivedFrom": "وتلقى من",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedBy": "مسجل من قبل",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedDate": "التاريخ المسجل",
  "XtraRichEditStringId.Caption_CustomPropertyReference": "مرجع",
  "XtraRichEditStringId.Caption_CustomPropertySource": "المصدر",
  "XtraRichEditStringId.Caption_CustomPropertyStatus": "مركز",
  "XtraRichEditStringId.Caption_CustomPropertyTelephoneNumber": "رقم الهاتف",
  "XtraRichEditStringId.Caption_CustomPropertyTypeBoolean": "نعم أو لا",
  "XtraRichEditStringId.Caption_CustomPropertyTypeDateTime": "تاريخ",
  "XtraRichEditStringId.Caption_CustomPropertyTypeNumber": "عدد",
  "XtraRichEditStringId.Caption_CustomPropertyTypeText": "نص",
  "XtraRichEditStringId.Caption_CustomPropertyTypist": "الإله الكاتبة",
  "XtraRichEditStringId.Caption_CustomPropertyValue": "القيمة",
  "XtraRichEditStringId.Caption_CustomPropertyYes": "نعم",
  "XtraRichEditStringId.Caption_EmptyParentStyle": "(الخصائص الأساسية)",
  "XtraRichEditStringId.Caption_EvenPageFooter": "تذييل الصفحات الزوجية",
  "XtraRichEditStringId.Caption_EvenPageHeader": "رأس الصفحة الزوجية",
  "XtraRichEditStringId.Caption_FirstLineIndentHanging": "معلقة",
  "XtraRichEditStringId.Caption_FirstLineIndentIndented": "السطر الأول",
  "XtraRichEditStringId.Caption_FirstLineIndentNone": "(بلا)",
  "XtraRichEditStringId.Caption_FirstPageFooter": "تذييل الصفحة الأولى",
  "XtraRichEditStringId.Caption_FirstPageHeader": "رأس الصفحة الأولى",
  "XtraRichEditStringId.Caption_FollowingParagraphText": "الفقرة التالية",
  "XtraRichEditStringId.Caption_GroupDocumentChanges": "التغييرات",
  "XtraRichEditStringId.Caption_GroupTableAlignment": "المحاذاة",
  "XtraRichEditStringId.Caption_GroupTableCellSize": "حجم الخلية",
  "XtraRichEditStringId.Caption_GroupTableDrawBorders": "الحدود & & الظلال",
  "XtraRichEditStringId.Caption_GroupTableMerge": "دمج",
  "XtraRichEditStringId.Caption_GroupTableRowsAndColumns": "الصفوف & & الأعمدة",
  "XtraRichEditStringId.Caption_GroupTableStyleOptions": "خيارات أنماط الجدول",
  "XtraRichEditStringId.Caption_GroupTableStyles": "أنماط الجدول",
  "XtraRichEditStringId.Caption_GroupTableTable": "الجدول",
  "XtraRichEditStringId.Caption_Heading": "العنوان",
  "XtraRichEditStringId.Caption_HeightTypeExact": "بالضبط",
  "XtraRichEditStringId.Caption_HeightTypeMinimum": "الأقل",
  "XtraRichEditStringId.Caption_LineSpacingAtLeast": "الأقل",
  "XtraRichEditStringId.Caption_LineSpacingDouble": "مزدوجة",
  "XtraRichEditStringId.Caption_LineSpacingExactly": "بالضبط",
  "XtraRichEditStringId.Caption_LineSpacingMultiple": "متعددة",
  "XtraRichEditStringId.Caption_LineSpacingSesquialteral": "سطر ونصف",
  "XtraRichEditStringId.Caption_LineSpacingSingle": "واحد",
  "XtraRichEditStringId.Caption_MainDocumentComments": "تعليقات المستند الرئيسي",
  "XtraRichEditStringId.Caption_NoColor": "لا لون",
  "XtraRichEditStringId.Caption_NoMarkup": "لا يوجد ترميز",
  "XtraRichEditStringId.Caption_NumberingListBoxNone": "لا شيء",
  "XtraRichEditStringId.Caption_OddPageFooter": "تذييل الصفحة الفردية",
  "XtraRichEditStringId.Caption_OddPageHeader": "رأس الصفحات الفردية",
  "XtraRichEditStringId.Caption_OriginalMarkup": "أصلي",
  "XtraRichEditStringId.Caption_OutlineLevel1": "المستوى 1",
  "XtraRichEditStringId.Caption_OutlineLevel2": "المستوى 2",
  "XtraRichEditStringId.Caption_OutlineLevel3": "المستوى 3",
  "XtraRichEditStringId.Caption_OutlineLevel4": "المستوى 4",
  "XtraRichEditStringId.Caption_OutlineLevel5": "المستوى 5",
  "XtraRichEditStringId.Caption_OutlineLevel6": "المستوى 6",
  "XtraRichEditStringId.Caption_OutlineLevel7": "المستوى 7",
  "XtraRichEditStringId.Caption_OutlineLevel8": "المستوى 8",
  "XtraRichEditStringId.Caption_OutlineLevel9": "المستوى 9",
  "XtraRichEditStringId.Caption_OutlineLevelBody": "النص الأساسي",
  "XtraRichEditStringId.Caption_PageBreak": "فاصل الصفحات",
  "XtraRichEditStringId.Caption_PageCategoryTableTools": "أدوات الجدول",
  "XtraRichEditStringId.Caption_PageFooter": "تذييل الصفحة",
  "XtraRichEditStringId.Caption_PageHeader": "رأس",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionLeftToRight": "Left-to-right",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionRightToLeft": "محاذاة",
  "XtraRichEditStringId.Caption_PageSetupSectionStartColumn": "New column",
  "XtraRichEditStringId.Caption_PageSetupSectionStartContinuous": "المستمر",
  "XtraRichEditStringId.Caption_PageSetupSectionStartEvenPage": "صفحة زوجية",
  "XtraRichEditStringId.Caption_PageSetupSectionStartNextPage": "",
  "XtraRichEditStringId.Caption_PageSetupSectionStartOddPage": "صفحة فردية",
  "XtraRichEditStringId.Caption_PageTableDesign": "التصميم",
  "XtraRichEditStringId.Caption_PageTableLayout": "تخطيط",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Center": "مركز",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Distribute": "وزعت",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Justify": "تبرير",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyHigh": "ضبط عالي",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyLow": "ضبط منخفض",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyMedium": "ضبط متوسط",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Left": "اليسار",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Right": "حق",
  "XtraRichEditStringId.Caption_ParagraphAlignment_ThaiDistribute": "التايلندية الموزعة",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Hanging": "معلقة",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Indented": "مسافة بادئة",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_None": "لا شيء",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_AtLeast": "على الأقل",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Double": "مزدوجة",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Exactly": "بالضبط",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Multiple": "متعددة",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Sesquialteral": "سيسكويالتيرال",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Single": "واحد",
  "XtraRichEditStringId.Caption_PreviousParagraphText": "الفقرة السابقة",
  "XtraRichEditStringId.Caption_Readonly": "لا توجد تغييرات (للقراءة فقط)",
  "XtraRichEditStringId.Caption_SameAsPrevious": "Same as Previous",
  "XtraRichEditStringId.Caption_SectionBreak": "فاصل مقطعي",
  "XtraRichEditStringId.Caption_SectionBreakTypeColumn": "عمود",
  "XtraRichEditStringId.Caption_SectionBreakTypeContinuous": "المستمر",
  "XtraRichEditStringId.Caption_SectionBreakTypeEvenPage": "Even Page",
  "XtraRichEditStringId.Caption_SectionBreakTypeNextPage": "الصفحة التالية",
  "XtraRichEditStringId.Caption_SectionBreakTypeOddPage": "Odd Page",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyThisPointForward": "هذه النقطة إلى الأمام",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToCurrentSection": "المقطع الحالي",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToSelectedSections": "المقاطع المحددة",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToWholeDocument": "مستند بأكمله",
  "XtraRichEditStringId.Caption_SimpleMarkup": "بسيطة",
  "XtraRichEditStringId.Caption_TrackedChanges": "تغييرات تتبع علامات",
  "XtraRichEditStringId.ClearFormatting": "Clear Formatting",
  "XtraRichEditStringId.ColorAuto": "صناعة السيارات",
  "XtraRichEditStringId.ColumnsSetupForm_InvalidColumnCount": "يجب أن يكون الرقم بين {0} و {1}-",
  "XtraRichEditStringId.Comment": "تعليق [{0} {1}]",
  "XtraRichEditStringId.CommentToolTipHeader": "by {0}",
  "XtraRichEditStringId.CommentToolTipHeaderWithDate": "{0} من {1}",
  "XtraRichEditStringId.DefaultDocumentName": "الوثيقة",
  "XtraRichEditStringId.DefaultStyleName_annotationreference": "مرجع التعليق التوضيحي",
  "XtraRichEditStringId.DefaultStyleName_annotationsubject": "annotation subject",
  "XtraRichEditStringId.DefaultStyleName_annotationtext": "annotation text",
  "XtraRichEditStringId.DefaultStyleName_ArticleSection": "المادة/الفرع",
  "XtraRichEditStringId.DefaultStyleName_BalloonText": "نص في بالون",
  "XtraRichEditStringId.DefaultStyleName_BlockText": "كتلة نص",
  "XtraRichEditStringId.DefaultStyleName_BodyText": "النص الأساسي",
  "XtraRichEditStringId.DefaultStyleName_BodyText2": "النص الأساسي 2",
  "XtraRichEditStringId.DefaultStyleName_BodyText3": "نص أساسي 3",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent": "هيئة نص المسافة البادئة الأولى",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent2": "أولاً البادئة النص الأساسي 2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent": "مسافة بادئة للنص الأساسي",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent2": "Body Text Indent 2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent3": "Body Text Indent 3",
  "XtraRichEditStringId.DefaultStyleName_BookTitle": "Book Title",
  "XtraRichEditStringId.DefaultStyleName_caption": "التسمية التوضيحية",
  "XtraRichEditStringId.DefaultStyleName_Closing": "Closing",
  "XtraRichEditStringId.DefaultStyleName_CommentReference": "مرجع تعليق",
  "XtraRichEditStringId.DefaultStyleName_CommentSubject": "موضوع التعليق",
  "XtraRichEditStringId.DefaultStyleName_CommentText": "نص التعليق",
  "XtraRichEditStringId.DefaultStyleName_Date": "تاريخ",
  "XtraRichEditStringId.DefaultStyleName_DefaultParagraphFont": "Default Paragraph Font",
  "XtraRichEditStringId.DefaultStyleName_DocumentMap": "خريطة المستند",
  "XtraRichEditStringId.DefaultStyleName_EmailSignature": "E-mail Signature",
  "XtraRichEditStringId.DefaultStyleName_Emphasis": "التركيز",
  "XtraRichEditStringId.DefaultStyleName_endnotereference": "Endnote Reference",
  "XtraRichEditStringId.DefaultStyleName_endnotetext": "Endnote Text",
  "XtraRichEditStringId.DefaultStyleName_envelopeaddress": "Envelope Address",
  "XtraRichEditStringId.DefaultStyleName_envelopereturn": "Envelope Return",
  "XtraRichEditStringId.DefaultStyleName_FollowedHyperlink": "ارتباط تشعبي متبع",
  "XtraRichEditStringId.DefaultStyleName_footer": "تذييل الصفحة",
  "XtraRichEditStringId.DefaultStyleName_footnotereference": "Footnote Reference",
  "XtraRichEditStringId.DefaultStyleName_footnotetext": "Footnote Text",
  "XtraRichEditStringId.DefaultStyleName_header": "رأس",
  "XtraRichEditStringId.DefaultStyleName_heading1": "Heading 1",
  "XtraRichEditStringId.DefaultStyleName_heading2": "Heading 2",
  "XtraRichEditStringId.DefaultStyleName_heading3": "Heading 3",
  "XtraRichEditStringId.DefaultStyleName_heading4": "Heading 4",
  "XtraRichEditStringId.DefaultStyleName_heading5": "Heading 5",
  "XtraRichEditStringId.DefaultStyleName_heading6": "Heading 6",
  "XtraRichEditStringId.DefaultStyleName_heading7": "Heading 7",
  "XtraRichEditStringId.DefaultStyleName_heading8": "Heading 8",
  "XtraRichEditStringId.DefaultStyleName_heading9": "Heading 9",
  "XtraRichEditStringId.DefaultStyleName_HTMLAcronym": "HTML Acronym",
  "XtraRichEditStringId.DefaultStyleName_HTMLAddress": "HTML Address",
  "XtraRichEditStringId.DefaultStyleName_HTMLBottomofForm": "HTML Bottom of Form",
  "XtraRichEditStringId.DefaultStyleName_HTMLCite": "HTML Cite",
  "XtraRichEditStringId.DefaultStyleName_HTMLCode": "HTML Code",
  "XtraRichEditStringId.DefaultStyleName_HTMLDefinition": "HTML Definition",
  "XtraRichEditStringId.DefaultStyleName_HTMLKeyboard": "HTML Keyboard",
  "XtraRichEditStringId.DefaultStyleName_HTMLPreformatted": "HTML Preformatted",
  "XtraRichEditStringId.DefaultStyleName_HTMLSample": "HTML Sample",
  "XtraRichEditStringId.DefaultStyleName_HTMLTopofForm": "HTML Top of Form",
  "XtraRichEditStringId.DefaultStyleName_HTMLTypewriter": "HTML Typewriter",
  "XtraRichEditStringId.DefaultStyleName_HTMLVariable": "HTML Variable",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkFollowed": "HyperlinkFollowed",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkStrongEmphasis": "HyperlinkStrongEmphasis",
  "XtraRichEditStringId.DefaultStyleName_index1": "Index 1",
  "XtraRichEditStringId.DefaultStyleName_index2": "Index 2",
  "XtraRichEditStringId.DefaultStyleName_index3": "Index 3",
  "XtraRichEditStringId.DefaultStyleName_index4": "Index 4",
  "XtraRichEditStringId.DefaultStyleName_index5": "Index 5",
  "XtraRichEditStringId.DefaultStyleName_index6": "Index 6",
  "XtraRichEditStringId.DefaultStyleName_index7": "Index 7",
  "XtraRichEditStringId.DefaultStyleName_index8": "Index 8",
  "XtraRichEditStringId.DefaultStyleName_index9": "Index 9",
  "XtraRichEditStringId.DefaultStyleName_indexheading": "Index Heading",
  "XtraRichEditStringId.DefaultStyleName_IntenseEmphasis": "Intense Emphasis",
  "XtraRichEditStringId.DefaultStyleName_IntenseQuote": "Intense Quote",
  "XtraRichEditStringId.DefaultStyleName_linenumber": "Line Number",
  "XtraRichEditStringId.DefaultStyleName_List": "قائمة",
  "XtraRichEditStringId.DefaultStyleName_List2": "List 2",
  "XtraRichEditStringId.DefaultStyleName_List3": "List 3",
  "XtraRichEditStringId.DefaultStyleName_List4": "List 4",
  "XtraRichEditStringId.DefaultStyleName_List5": "List 5",
  "XtraRichEditStringId.DefaultStyleName_ListBullet": "List Bullet",
  "XtraRichEditStringId.DefaultStyleName_ListBullet2": "List Bullet 2",
  "XtraRichEditStringId.DefaultStyleName_ListBullet3": "List Bullet 3",
  "XtraRichEditStringId.DefaultStyleName_ListBullet4": "List Bullet 4",
  "XtraRichEditStringId.DefaultStyleName_ListBullet5": "List Bullet 5",
  "XtraRichEditStringId.DefaultStyleName_ListContinue": "List Continue",
  "XtraRichEditStringId.DefaultStyleName_ListContinue2": "List Continue 2",
  "XtraRichEditStringId.DefaultStyleName_ListContinue3": "List Continue 3",
  "XtraRichEditStringId.DefaultStyleName_ListContinue4": "List Continue 4",
  "XtraRichEditStringId.DefaultStyleName_ListContinue5": "List Continue 5",
  "XtraRichEditStringId.DefaultStyleName_ListNumber": "List Number",
  "XtraRichEditStringId.DefaultStyleName_ListNumber2": "List Number 2",
  "XtraRichEditStringId.DefaultStyleName_ListNumber3": "List Number 3",
  "XtraRichEditStringId.DefaultStyleName_ListNumber4": "List Number 4",
  "XtraRichEditStringId.DefaultStyleName_ListNumber5": "List Number 5",
  "XtraRichEditStringId.DefaultStyleName_ListParagraph": "List Paragraph",
  "XtraRichEditStringId.DefaultStyleName_MacroText": "نص الماكرو",
  "XtraRichEditStringId.DefaultStyleName_macrotoaheading": "macro to a heading",
  "XtraRichEditStringId.DefaultStyleName_MessageHeader": "Message Header",
  "XtraRichEditStringId.DefaultStyleName_NoList": "No List",
  "XtraRichEditStringId.DefaultStyleName_Normal": "عادي",
  "XtraRichEditStringId.DefaultStyleName_NormalIndent": "Normal Indent",
  "XtraRichEditStringId.DefaultStyleName_NormalTable": "Normal Table",
  "XtraRichEditStringId.DefaultStyleName_NormalWeb": "Normal (Web)",
  "XtraRichEditStringId.DefaultStyleName_NoSpacing": "No Spacing",
  "XtraRichEditStringId.DefaultStyleName_NoteHeading": "Note Heading",
  "XtraRichEditStringId.DefaultStyleName_OutlineList1": "Outline List 1",
  "XtraRichEditStringId.DefaultStyleName_OutlineList2": "Outline List 2",
  "XtraRichEditStringId.DefaultStyleName_OutlineList3": "Outline List 3",
  "XtraRichEditStringId.DefaultStyleName_pagenumber": "رقم الصفحة",
  "XtraRichEditStringId.DefaultStyleName_PlainText": "نص عادي",
  "XtraRichEditStringId.DefaultStyleName_Quote": "Quote",
  "XtraRichEditStringId.DefaultStyleName_Salutation": "Salutation",
  "XtraRichEditStringId.DefaultStyleName_Signature": "Signature",
  "XtraRichEditStringId.DefaultStyleName_Strong": "قوية",
  "XtraRichEditStringId.DefaultStyleName_Subtitle": "العنوان الفرعي",
  "XtraRichEditStringId.DefaultStyleName_SubtleEmphasis": "Subtle Emphasis",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects1": "Table 3D effects 1",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects2": "Table 3D effects 2",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects3": "Table 3D effects 3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic1": "Table Classic 1",
  "XtraRichEditStringId.DefaultStyleName_TableClassic2": "Table Classic 2",
  "XtraRichEditStringId.DefaultStyleName_TableClassic3": "Table Classic 3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic4": "Table Classic 4",
  "XtraRichEditStringId.DefaultStyleName_TableColorful1": "Table Colorful 1",
  "XtraRichEditStringId.DefaultStyleName_TableColorful2": "Table Colorful 2",
  "XtraRichEditStringId.DefaultStyleName_TableColorful3": "Table Colorful 3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns1": "Table Columns 1",
  "XtraRichEditStringId.DefaultStyleName_TableColumns2": "Table Columns 2",
  "XtraRichEditStringId.DefaultStyleName_TableColumns3": "Table Columns 3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns4": "Table Columns 4",
  "XtraRichEditStringId.DefaultStyleName_TableColumns5": "Table Columns 5",
  "XtraRichEditStringId.DefaultStyleName_TableContemporary": "Table Contemporary",
  "XtraRichEditStringId.DefaultStyleName_TableElegant": "Table Elegant",
  "XtraRichEditStringId.DefaultStyleName_TableGrid": "Table Grid",
  "XtraRichEditStringId.DefaultStyleName_TableGrid1": "Table Grid 1",
  "XtraRichEditStringId.DefaultStyleName_TableGrid2": "Table Grid 2",
  "XtraRichEditStringId.DefaultStyleName_TableGrid3": "Table Grid 3",
  "XtraRichEditStringId.DefaultStyleName_TableGrid4": "Table Grid 4",
  "XtraRichEditStringId.DefaultStyleName_TableGrid5": "Table Grid 5",
  "XtraRichEditStringId.DefaultStyleName_TableGrid6": "Table Grid 6",
  "XtraRichEditStringId.DefaultStyleName_TableGrid7": "Table Grid 7",
  "XtraRichEditStringId.DefaultStyleName_TableGrid8": "Table Grid 8",
  "XtraRichEditStringId.DefaultStyleName_TableList1": "Table List 1",
  "XtraRichEditStringId.DefaultStyleName_TableList2": "Table List 2",
  "XtraRichEditStringId.DefaultStyleName_TableList3": "Table List 3",
  "XtraRichEditStringId.DefaultStyleName_TableList4": "Table List 4",
  "XtraRichEditStringId.DefaultStyleName_TableList5": "Table List 5",
  "XtraRichEditStringId.DefaultStyleName_TableList6": "Table List 6",
  "XtraRichEditStringId.DefaultStyleName_TableList7": "Table List 7",
  "XtraRichEditStringId.DefaultStyleName_TableList8": "Table List 8",
  "XtraRichEditStringId.DefaultStyleName_TableNormal": "جدول عادي",
  "XtraRichEditStringId.DefaultStyleName_tableofauthorities": "Table of Authorities",
  "XtraRichEditStringId.DefaultStyleName_tableoffigures": "Table of Figures",
  "XtraRichEditStringId.DefaultStyleName_TableProfessional": "Table Professional",
  "XtraRichEditStringId.DefaultStyleName_TableSimple1": "Table Simple 1",
  "XtraRichEditStringId.DefaultStyleName_TableSimple2": "Table Simple 2",
  "XtraRichEditStringId.DefaultStyleName_TableSimple3": "Table Simple 3",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle1": "Table Subtle 1",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle2": "Table Subtle 2",
  "XtraRichEditStringId.DefaultStyleName_TableTheme": "موضوع الجدول",
  "XtraRichEditStringId.DefaultStyleName_TableWeb1": "Table Web 1",
  "XtraRichEditStringId.DefaultStyleName_TableWeb2": "Table Web 2",
  "XtraRichEditStringId.DefaultStyleName_TableWeb3": "Table Web 3",
  "XtraRichEditStringId.DefaultStyleName_Title": "العنوان",
  "XtraRichEditStringId.DefaultStyleName_toaheading": "TOA العنوان",
  "XtraRichEditStringId.DefaultStyleName_toc1": "TOC 1",
  "XtraRichEditStringId.DefaultStyleName_toc2": "TOC 2",
  "XtraRichEditStringId.DefaultStyleName_toc3": "TOC 3",
  "XtraRichEditStringId.DefaultStyleName_toc4": "TOC 4",
  "XtraRichEditStringId.DefaultStyleName_toc5": "TOC 5",
  "XtraRichEditStringId.DefaultStyleName_toc6": "TOC 6",
  "XtraRichEditStringId.DefaultStyleName_toc7": "TOC 7",
  "XtraRichEditStringId.DefaultStyleName_toc8": "TOC 8",
  "XtraRichEditStringId.DefaultStyleName_toc9": "TOC 9",
  "XtraRichEditStringId.DialogCaption_InsertSymbol": "الرمز",
  "XtraRichEditStringId.FieldLastName": "الاسم الأخير",
  "XtraRichEditStringId.FieldMapAddress1": "العنوان 1",
  "XtraRichEditStringId.FieldMapAddress2": "العنوان 2",
  "XtraRichEditStringId.FieldMapAddress3": "Address 3",
  "XtraRichEditStringId.FieldMapBusinessFax": "Business Fax",
  "XtraRichEditStringId.FieldMapBusinessPhone": "Business Phone",
  "XtraRichEditStringId.FieldMapCity": "مدينة",
  "XtraRichEditStringId.FieldMapCompany": "الشركة",
  "XtraRichEditStringId.FieldMapCountry": "Country or Region",
  "XtraRichEditStringId.FieldMapDepartment": "إدارة",
  "XtraRichEditStringId.FieldMapEMailAddress": "عنوان البريد الإلكتروني",
  "XtraRichEditStringId.FieldMapFirstName": "الاسم الأول",
  "XtraRichEditStringId.FieldMapHomeFax": "Home Fax",
  "XtraRichEditStringId.FieldMapHomePhone": "Home Phone",
  "XtraRichEditStringId.FieldMapJobTitle": "Job Title",
  "XtraRichEditStringId.FieldMapMiddleName": "الاسم الأوسط",
  "XtraRichEditStringId.FieldMapNickName": "Nickname",
  "XtraRichEditStringId.FieldMapPartnerFirstName": "Spouse/Partner First Name",
  "XtraRichEditStringId.FieldMapPartnerLastName": "Spouse/Partner Last Name",
  "XtraRichEditStringId.FieldMapPartnerMiddleName": "Spouse/Partner Middle Name",
  "XtraRichEditStringId.FieldMapPartnerNickName": "Spouse/Partner Nickname",
  "XtraRichEditStringId.FieldMapPartnerTitle": "Spouse/Partner Courtesy Title",
  "XtraRichEditStringId.FieldMapPhoneticGuideFirstName": "Phonetic Guide for First Name",
  "XtraRichEditStringId.FieldMapPhoneticGuideLastName": "Phonetic Guide for Last Name",
  "XtraRichEditStringId.FieldMapPostalCode": "Postal Code",
  "XtraRichEditStringId.FieldMapState": "الدولة",
  "XtraRichEditStringId.FieldMapSuffix": "لاحقة",
  "XtraRichEditStringId.FieldMapTitle": "Courtesy Title",
  "XtraRichEditStringId.FieldMapUniqueId": "Unique Identifier",
  "XtraRichEditStringId.FieldMapWebPage": "صفحة ويب",
  "XtraRichEditStringId.FileFilterDescription_AllFiles": "جميع الملفات",
  "XtraRichEditStringId.FileFilterDescription_AllSupportedFiles": "All Supported Files",
  "XtraRichEditStringId.FileFilterDescription_BitmapFiles": "صورة نقطية",
  "XtraRichEditStringId.FileFilterDescription_DocFiles": "Microsoft Word Document",
  "XtraRichEditStringId.FileFilterDescription_EmfFiles": "ملف التعريف المحسن ل Microsoft",
  "XtraRichEditStringId.FileFilterDescription_ePubFiles": "Electronic Publication",
  "XtraRichEditStringId.FileFilterDescription_GifFiles": "تنسيق تبادل الرسومات",
  "XtraRichEditStringId.FileFilterDescription_HtmlFiles": "تنسيق لغة توصيف النص التشعبي",
  "XtraRichEditStringId.FileFilterDescription_JPEGFiles": "تنسيق تبادل ملف JPEG",
  "XtraRichEditStringId.FileFilterDescription_MhtFiles": "Web Archive, single file",
  "XtraRichEditStringId.FileFilterDescription_OpenDocumentFiles": "OpenDocument Text Document",
  "XtraRichEditStringId.FileFilterDescription_OpenXmlFiles": "Word 2007 Document",
  "XtraRichEditStringId.FileFilterDescription_PDFFiles": "تنسيق المستند المحمول",
  "XtraRichEditStringId.FileFilterDescription_PNGFiles": "رسومات الشبكة للأجهزة المحمولة",
  "XtraRichEditStringId.FileFilterDescription_RtfFiles": "تنسيق نص منسق",
  "XtraRichEditStringId.FileFilterDescription_TextFiles": "Text Files",
  "XtraRichEditStringId.FileFilterDescription_TiffFiles": "Tagged Image Format",
  "XtraRichEditStringId.FileFilterDescription_WmfFiles": "Windows Metafile",
  "XtraRichEditStringId.FileFilterDescription_WordMLFiles": "Word 2003 XML Document",
  "XtraRichEditStringId.FileFilterDescription_XamlFiles": "Xaml Document",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterInTheSet": "Any one character in the set",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterNotInTheSet": "Any one character not in the set",
  "XtraRichEditStringId.FindAndReplaceForm_AnySingleCharacter": "Any single character",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfLine": "Beginning of paragraph",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfWord": "Beginning of word",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfLine": "نهاية الفقرة",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfWord": "نهاية الكلمة",
  "XtraRichEditStringId.FindAndReplaceForm_EscapeSpecialCharacter": "Escape special character",
  "XtraRichEditStringId.FindAndReplaceForm_Integer": "عدد صحيح",
  "XtraRichEditStringId.FindAndReplaceForm_OneOrMore": "One or more",
  "XtraRichEditStringId.FindAndReplaceForm_Or": "Or",
  "XtraRichEditStringId.FindAndReplaceForm_SpaceOrTab": "Space or tab",
  "XtraRichEditStringId.FindAndReplaceForm_TagExpression": "Tag expression",
  "XtraRichEditStringId.FindAndReplaceForm_TaggedExpression": "Tagged expression {0}",
  "XtraRichEditStringId.FindAndReplaceForm_WordCharacter": "Word character",
  "XtraRichEditStringId.FindAndReplaceForm_ZeroOrMore": "Zero or more",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentCenter": "توسيط",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentLeft": "اليسار",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentRight": "حق",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeCharacter": "حرف",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeColumn": "عمود",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeInsideMargin": "داخل الهامش",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeLeftMargin": "ترك هامش",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeMargin": "الهامش",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeOutsideMargin": "خارج الهامش",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypePage": "الصفحة",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeRightMargin": "الهامش الأيمن",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentBottom": "أسفل",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentCenter": "مركز",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentInside": "داخل",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentOutside": "في الخارج",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentTop": "أعلى",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeBottomMargin": "الهامش السفلي",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeInsideMargin": "داخل الهامش",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeLine": "خط",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeMargin": "الهامش",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeOutsideMargin": "خارج الهامش",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypePage": "الصفحة",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeParagraph": "الفقرة",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeTopMargin": "الهامش العلوي",
  "XtraRichEditStringId.FontStyle_Bold": "غامق",
  "XtraRichEditStringId.FontStyle_BoldItalic": "غامق مائل",
  "XtraRichEditStringId.FontStyle_Italic": "مائل",
  "XtraRichEditStringId.FontStyle_Regular": "العادية",
  "XtraRichEditStringId.FontStyle_Strikeout": "يتخلله خط",
  "XtraRichEditStringId.FontStyle_Underline": "تسطير",
  "XtraRichEditStringId.HyperlinkForm_EditHyperlinkTitle": "تحرير ارتباط تشعبي",
  "XtraRichEditStringId.HyperlinkForm_InsertHyperlinkTitle": "إدراج ارتباط تشعبي",
  "XtraRichEditStringId.HyperlinkForm_SelectedBookmarkNone": "< بلا >",
  "XtraRichEditStringId.HyperlinkForm_SelectionInDocument": "التحديد في المستند",
  "XtraRichEditStringId.InsertTableForm_InvalidColumnCount": "يجب أن يكون الرقم بين {0} و {1}-",
  "XtraRichEditStringId.InsertTableForm_InvalidRowCount": "يجب أن يكون الرقم بين {0} و {1}-",
  "XtraRichEditStringId.KeyName_Alt": "Alt",
  "XtraRichEditStringId.KeyName_Control": "Ctrl",
  "XtraRichEditStringId.KeyName_Shift": "التحول",
  "XtraRichEditStringId.LinkedCharacterStyleFormatString": "{0} Char",
  "XtraRichEditStringId.LocalizedStyleName_Hyperlink": "الارتباط التشعبي",
  "XtraRichEditStringId.LocalizedStyleName_Normal": "عادي",
  "XtraRichEditStringId.MenuCmd_Accept": "قبول",
  "XtraRichEditStringId.MenuCmd_AcceptAllChanges": "تقبل جميع التغييرات",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTracking": "تتبع",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTrackingDescription": "تتبع",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesDescription": "تقبل جميع التغييرات",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShown": "قبول كافة التغييرات المعروضة",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShownDescription": "قبول كافة التغييرات المعروضة",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevision": "قبول ثم نقل إلى التالي",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevisionDescription": "التالي.",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevision": "قبول هذا التغيير",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevisionDescription": "قبول هذا التغيير",
  "XtraRichEditStringId.MenuCmd_AcceptDescription": "انقر للحصول على خيارات إضافية، مثل قبول كافة التغييرات في وقت واحد.",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContents": "Add Text",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContentsDescription": "Add the current paragraph as an entry in the Table of Contents.",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraph": "Add Space &After Paragraph",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraph": "Add Space &Before Paragraph",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionary": "إضافة إلى قاموس",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionaryDescription": "إضافة إلى قاموس",
  "XtraRichEditStringId.MenuCmd_AllAuthors": "جميع المؤلفين",
  "XtraRichEditStringId.MenuCmd_BackSpaceKey": "BackSpaceKey",
  "XtraRichEditStringId.MenuCmd_BackSpaceKeyDescription": "BackSpaceKey",
  "XtraRichEditStringId.MenuCmd_Bookmark": "Bookmark...",
  "XtraRichEditStringId.MenuCmd_BookmarkDescription": "Bookmark...",
  "XtraRichEditStringId.MenuCmd_BrowserPrint": "Browser Print",
  "XtraRichEditStringId.MenuCmd_BrowserPrintDescription": "Print document with browser print capabilities.",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreview": "Browser Print Preview",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreviewDescription": "Preview pages in browser before printing.",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCase": "الاستفادة من كل كلمة",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCaseDescription": "الاستفادة من كل كلمة.",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyle": "تشانجيتشاراكتيرستيلي",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyleDescription": "تشانجيتشاراكتيرستيلي",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCount": "الأعمدة",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCountDescription": "الأعمدة",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSize": "تشانجيكولومنسيزي",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSizeDescription": "تشانجيكولومنسيزيديسكريبشن",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColor": "Pen Color",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColorDescription": "Change the pen color.",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyle": "نمط خط الرسم",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyleDescription": "تغيير نمط الخط المستخدم لرسم الحدود.",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThickness": "عرض الخط",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThicknessDescription": "تغيير عرض الخط المستخدم لحدود الرسم.",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewMode": "عرض للمراجعة",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewModeDescription": "اختر كيف تريد رؤية التغييرات في هذا المستند.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignment": "موقف",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignmentDescription": "موضع الكائن المحدد على الصفحة. تلقائياً يتم تعيين النص التفاف النص حول الكائن.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColor": "تعبئة الشكل",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColorDescription": "تعبئة الشكل المحدد بلون خالص.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColor": "المخطط التفصيلي للشكل",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColorDescription": "تحديد لون للمخطط التفصيلي للشكل المحدد.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidth": "شكل مخطط الوزن",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidthDescription": "تحديد عرض للخطوط العريضة للشكل المحدد.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapType": "النص",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapTypeDescription": "تغير طريقة النص يلتف حول الكائن المحدد. لتكوين الكائن حتى يتحرك النص حوله جنبا إلى جنب مع النص، حدد \"سطري مع النص\"-",
  "XtraRichEditStringId.MenuCmd_ChangeFontColor": "لون الخط",
  "XtraRichEditStringId.MenuCmd_ChangeFontColorDescription": "Change the font color.",
  "XtraRichEditStringId.MenuCmd_ChangeFontName": "الخط",
  "XtraRichEditStringId.MenuCmd_ChangeFontNameDescription": "تغيير الخط الوجه.",
  "XtraRichEditStringId.MenuCmd_ChangeFontSize": "حجم الخط",
  "XtraRichEditStringId.MenuCmd_ChangeFontSizeDescription": "تغيير حجم الخط-",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptions": "",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptionsDescription": "قم بتشغيل الواصلة لإنشاء تباعد أكثر تناسقاً وتوفير مساحة في المستند.",
  "XtraRichEditStringId.MenuCmd_ChangeIndent": "تشانجيندينت",
  "XtraRichEditStringId.MenuCmd_ChangeIndentDescription": "تشانجيندينتديسكريبشن",
  "XtraRichEditStringId.MenuCmd_ChangeLanguage": "اللغة",
  "XtraRichEditStringId.MenuCmd_ChangeLanguageDescription": "تعيين اللغة المستخدمة للتدقيق الإملائي والنحوي للنص المحدد-",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWord": "(لا يوجد اقتراحات للتدقيق الإملائي)",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWordDescription": "(لا يوجد اقتراحات للتدقيق الإملائي)",
  "XtraRichEditStringId.MenuCmd_ChangeNoProof": "نوبروف",
  "XtraRichEditStringId.MenuCmd_ChangeNoProofDescription": "تغيير نوبروف",
  "XtraRichEditStringId.MenuCmd_ChangePageColor": "لون الصفحة",
  "XtraRichEditStringId.MenuCmd_ChangePageColorDescription": "اختيار لون الخلفية للصفحة.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColor": "التظليل",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColorDescription": "تغيير الخلفية وراء الفقرة المحددة.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndent": "إينكريمينتباراجراففيرستلينيندينت",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndentDescription": "إينكرمينتباراجراففيرستلينيندينتديسكريبشن",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndent": "تشانجيباراجرافليفتيندينت",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndentDescription": "تشانجيباراجرافليفتيندينتديسكريبشن",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacing": "تباعد الأسطر",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacingDescription": "تغيير التباعد بين أسطر النص.\n\nيمكنك أيضا تخصيص مقدار المساحة المضافة قبل وبعد الفقرات.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyle": "تشانجيباراجرافستيلي",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyleDescription": "تشانجيباراجرافستيلي",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumbering": "أرقام الأسطر",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumberingDescription": "إضافة أرقام الأسطر في الهامش جنبا إلى جنب مع كل سطر من المستند.",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMargins": "هوامش",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMarginsDescription": "قم بتحديد حجم الهامش للمستند بأكمله أو للمقطع الحالي.",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientation": "التوجه",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientationDescription": "قم بالتبديل بين صورة والمناظر الطبيعية من تخطيطات الصفحات.",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKind": "الحجم",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKindDescription": "Choose a paper size for the current section.",
  "XtraRichEditStringId.MenuCmd_ChangeStyle": "الأنماط السريعة",
  "XtraRichEditStringId.MenuCmd_ChangeStyleDescription": "تنسيق العناوين، وعروض الأسعار، ونص آخر باستخدام معرض الأنماط هذا.",
  "XtraRichEditStringId.MenuCmd_ChangeTableBorders": "حدود",
  "XtraRichEditStringId.MenuCmd_ChangeTableBordersDescription": "تخصيص حدود الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholder": "المحاذاة",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholderDescription": "تخصيص محاذاة الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignment": "محاذاة الخلية",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignmentDescription": "محاذاة الخلية",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShading": "التظليل",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShadingDescription": "لون الخلفية وراء الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_ChangeTextCase": "تغيير حالة الأحرف",
  "XtraRichEditStringId.MenuCmd_ChangeTextCaseDescription": "تغيير النص المحدد إلى أحرف كبيرة، صغيرة، أو أخرى الرسملة المشتركة.",
  "XtraRichEditStringId.MenuCmd_CheckSpelling": "التدقيق الإملائي",
  "XtraRichEditStringId.MenuCmd_CheckSpellingDescription": "تحقق من هجاء النص في المستند.",
  "XtraRichEditStringId.MenuCmd_ClearFormatting": "Clear Formatting",
  "XtraRichEditStringId.MenuCmd_ClearFormattingDescription": "Clear all the formatting from the selection, leaving only plain text.",
  "XtraRichEditStringId.MenuCmd_ClearUndo": "كليروندو",
  "XtraRichEditStringId.MenuCmd_ClearUndoDescription": "تراجع مسح المخزن المؤقت",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooter": "Close Header and Footer",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooterDescription": "Close the Header and Footer Tools.\n\nYou can also double click the document area to return to editing it.",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBar": "طي أو توسيع شريط الصيغة",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBarDescription": "طي أو توسيع شريط الصيغة (Ctrl + Shift + U)",
  "XtraRichEditStringId.MenuCmd_Comment": "عرض التعليقات",
  "XtraRichEditStringId.MenuCmd_CommentDescription": "اختيار لتسليط الضوء على تعليقات في المستند أم لا.",
  "XtraRichEditStringId.MenuCmd_CopySelection": "نسخة",
  "XtraRichEditStringId.MenuCmd_CopySelectionDescription": "نسخ التحديد ووضعه في الحافظة.",
  "XtraRichEditStringId.MenuCmd_CreateBookmark": "Create Bookmark",
  "XtraRichEditStringId.MenuCmd_CreateBookmarkDescription": "Create Bookmark",
  "XtraRichEditStringId.MenuCmd_CreateField": "قم بإنشاء الحقل",
  "XtraRichEditStringId.MenuCmd_CreateFieldDescription": "قم بإنشاء الحقل",
  "XtraRichEditStringId.MenuCmd_CreateHyperlink": "CreateHyperlink",
  "XtraRichEditStringId.MenuCmd_CreateHyperlinkDescription": "CreateHyperlinkDescription",
  "XtraRichEditStringId.MenuCmd_CutSelection": "قص",
  "XtraRichEditStringId.MenuCmd_CutSelectionDescription": "قص التحديد من المستند، ووضعه في الحافظة.",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSize": "تقليص الخط",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSizeDescription": "إنقاص حجم الخط-",
  "XtraRichEditStringId.MenuCmd_DecrementFontSize": "DecrementFontSize",
  "XtraRichEditStringId.MenuCmd_DecrementFontSizeDescription": "DecrementFontSize",
  "XtraRichEditStringId.MenuCmd_DecrementIndent": "إنقاص المسافة البادئة",
  "XtraRichEditStringId.MenuCmd_DecrementIndentDescription": "Decrease the indent level of the paragraph.",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraph": "DecrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraphDescription": "DecrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndent": "ديكريمينتباراجرافليفتيندينت",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndentDescription": "ديكريمينتباراجرافليفتيندينتديسكريبشن",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevel": "Decrement outline level",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevelDescription": "Decrement outline level",
  "XtraRichEditStringId.MenuCmd_Delete": "حذف",
  "XtraRichEditStringId.MenuCmd_DeleteAllComments": "حذف كافة التعليقات",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsDescription": "حذف كافة التعليقات.",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShown": "حذف كافة التعليقات أظهرت",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShownDescription": "حذف كافة التعليقات أظهرت.",
  "XtraRichEditStringId.MenuCmd_DeleteBack": "DeleteBack",
  "XtraRichEditStringId.MenuCmd_DeleteBackCore": "DeleteBackCore",
  "XtraRichEditStringId.MenuCmd_DeleteBackCoreDescription": "DeleteBackCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteBackDescription": "DeleteBack",
  "XtraRichEditStringId.MenuCmd_DeleteBookmark": "Delete Bookmark",
  "XtraRichEditStringId.MenuCmd_DeleteBookmarkDescription": "Delete Bookmark",
  "XtraRichEditStringId.MenuCmd_DeleteComment": "حذف",
  "XtraRichEditStringId.MenuCmd_DeleteCommentDescription": "حذف التعليق المحدد.",
  "XtraRichEditStringId.MenuCmd_DeleteCore": "DeleteCore",
  "XtraRichEditStringId.MenuCmd_DeleteCoreDescription": "DeleteCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteDescription": "حذف",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraph": "DeleteNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraphDescription": "DeleteNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DeleteOneComment": "حذف التعليق",
  "XtraRichEditStringId.MenuCmd_DeleteOneCommentDescription": "حذف التعليق المحدد.",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWord": "حذف الكلمة المكررة",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWordDescription": "حذف الكلمة المكررة",
  "XtraRichEditStringId.MenuCmd_DeleteTable": "حذف الجدول",
  "XtraRichEditStringId.MenuCmd_DeleteTableCells": "حذف الخلايا...",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsDescription": "حذف صفوف أو أعمدة أو خلايا.",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsMenuItem": "حذف الخلايا...",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumns": "Delete Columns",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumnsDescription": "Delete Columns",
  "XtraRichEditStringId.MenuCmd_DeleteTableDescription": "Delete Entire Table.",
  "XtraRichEditStringId.MenuCmd_DeleteTableElements": "حذف",
  "XtraRichEditStringId.MenuCmd_DeleteTableElementsDescription": "حذف الصفوف أو الأعمدة، والخلايا أو الجدول بأكمله.",
  "XtraRichEditStringId.MenuCmd_DeleteTableRows": "Delete Rows",
  "XtraRichEditStringId.MenuCmd_DeleteTableRowsDescription": "Delete Rows",
  "XtraRichEditStringId.MenuCmd_DeleteTableStyle": "حذف نمط الجدول...",
  "XtraRichEditStringId.MenuCmd_DeleteWord": "DeleteWord",
  "XtraRichEditStringId.MenuCmd_DeleteWordBack": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCore": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCoreDescription": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackDescription": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordCore": "DeleteWordCore",
  "XtraRichEditStringId.MenuCmd_DeleteWordCoreDescription": "DeleteWordCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteWordDescription": "DeleteWord",
  "XtraRichEditStringId.MenuCmd_DeselectAll": "Deselect All",
  "XtraRichEditStringId.MenuCmd_DeselectAllDescription": "إعادة تحديد المستند.",
  "XtraRichEditStringId.MenuCmd_DraftView": "Draft View",
  "XtraRichEditStringId.MenuCmd_DraftViewDescription": "Draft View",
  "XtraRichEditStringId.MenuCmd_EditHyperlink": "Edit hyperlink...",
  "XtraRichEditStringId.MenuCmd_EditHyperlinkDescription": "Edit hyperlink...",
  "XtraRichEditStringId.MenuCmd_EditPageFooter": "تذييل الصفحة",
  "XtraRichEditStringId.MenuCmd_EditPageFooterDescription": "Edit the footer of the document.\n\nThe content in the footer will appear at the bottom of each printed page.",
  "XtraRichEditStringId.MenuCmd_EditPageHeader": "رأس",
  "XtraRichEditStringId.MenuCmd_EditPageHeaderDescription": "Edit the header of the document.\n\nThe content in the header will appear at the top of each printed page.",
  "XtraRichEditStringId.MenuCmd_EditTOC": "تحرير جدول المحتويات...",
  "XtraRichEditStringId.MenuCmd_EncryptDocument": "تشفير باستخدام كلمة مرور",
  "XtraRichEditStringId.MenuCmd_EncryptDocumentDescription": "حماية كلمة المرور هذا المستند.",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontally": "EnsureCaretVisibleHorizontally",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontallyDescription": "EnsureCaretVisibleHorizontally",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVertically": "EnsureCaretVisibleVertically",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVerticallyDescription": "EnsureCaretVisibleVertically",
  "XtraRichEditStringId.MenuCmd_EnterKey": "EnterKey",
  "XtraRichEditStringId.MenuCmd_EnterKeyDescription": "EnterKeyDescription",
  "XtraRichEditStringId.MenuCmd_Find": "البحث عن",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackward": "FindAndSelectBackward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackwardDescription": "FindAndSelectBackward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForward": "FindAndSelectForward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForwardDescription": "FindAndSelectForward",
  "XtraRichEditStringId.MenuCmd_FindDescription": "البحث عن نص في المستند.",
  "XtraRichEditStringId.MenuCmd_FindNext": "بحث عن التالي",
  "XtraRichEditStringId.MenuCmd_FindNextDescription": "Repeats the last search forward.",
  "XtraRichEditStringId.MenuCmd_FindPrev": "Find Prev",
  "XtraRichEditStringId.MenuCmd_FindPrevDescription": "Repeats the last search backward.",
  "XtraRichEditStringId.MenuCmd_FirstDataRecord": "First Record",
  "XtraRichEditStringId.MenuCmd_FirstDataRecordDescription": "First Record",
  "XtraRichEditStringId.MenuCmd_FitHeight": "تناسب الارتفاع",
  "XtraRichEditStringId.MenuCmd_FitHeightDescription": "بضبط عامل تكبير المستند لتناسب ارتفاع الصفحة بأكملها لإبعاد سطح التحرير.",
  "XtraRichEditStringId.MenuCmd_FitToPage": "يصلح للصفحة",
  "XtraRichEditStringId.MenuCmd_FitToPageDescription": "بضبط عامل تكبير المستند لتناسب الصفحة بأكملها لإبعاد سطح التحرير.",
  "XtraRichEditStringId.MenuCmd_FitWidth": "تناسب العرض",
  "XtraRichEditStringId.MenuCmd_FitWidthDescription": "بضبط عامل تكبير المستند تلائم عرض الصفحة بأكملها لإبعاد سطح التحرير.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForward": "إحضار إلى الأمام",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardDescription": "إحضار الكائن المحدد إلى الأمام حتى أن كان مخفياً بأقل من الكائن الذي يتم أمام إجرائه.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholder": "إحضار إلى الأمام",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholderDescription": "إحضار الكائن المحدد إلى الأمام حتى أن كان مخفياً بأقل من الكائن الذي يتم أمام إجرائه.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfText": "إحضار أمام النص",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFront": "إحضار إلى الأمام",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFrontDescription": "إحضار الكائن المحدد أمام كافة الكائنات الأخرى بحيث يتم إخفاء لا جزء منه خلف كائن آخر.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackward": "إرسال إلى الخلف",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardDescription": "إرسال الكائن المحدد إلى الخلف حتى أن كان مخفياً بالكائن الذي يتم أمام إجرائه.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholder": "إرسال إلى الخلف",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholderDescription": "إرسال الكائن المحدد إلى الخلف حتى أن كان مخفياً بالكائن الذي يتم أمام إجرائه.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindText": "إرسال خلف النص",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBack": "إرسال إلى الخلف",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBackDescription": "إرسال الكائن المحدد خلف كل الكائنات الأخرى.",
  "XtraRichEditStringId.MenuCmd_FontSubscript": "منخفض",
  "XtraRichEditStringId.MenuCmd_FontSubscriptDescription": "Create small letters below the text baseline.",
  "XtraRichEditStringId.MenuCmd_FontSuperscript": "مرتفع",
  "XtraRichEditStringId.MenuCmd_FontSuperscriptDescription": "Create small letters above the line of text.",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooter": "Show Next",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooterDescription": "Navigate to the next section's header or footer.",
  "XtraRichEditStringId.MenuCmd_GoToPage": "انتقل إلى صفحة",
  "XtraRichEditStringId.MenuCmd_GoToPageDescription": "انتقل إلى صفحة",
  "XtraRichEditStringId.MenuCmd_GoToPageFooter": "Go to Footer",
  "XtraRichEditStringId.MenuCmd_GoToPageFooterDescription": "Activate the footer on this page so that you can edit it.",
  "XtraRichEditStringId.MenuCmd_GoToPageHeader": "Go to Header",
  "XtraRichEditStringId.MenuCmd_GoToPageHeaderDescription": "Activate the header on this page so that you can edit it.",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooter": "Show Previous",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooterDescription": "Navigate to the previous section's header or footer.",
  "XtraRichEditStringId.MenuCmd_HighlightText": "Text Highlight Color",
  "XtraRichEditStringId.MenuCmd_HighlightTextDescription": "Make text look like it was marked with a highlighter pen.",
  "XtraRichEditStringId.MenuCmd_Hyperlink": "الارتباط التشعبي...",
  "XtraRichEditStringId.MenuCmd_HyperlinkDescription": "الارتباط التشعبي...",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWords": "تجاهل الكل",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWordsDescription": "تجاهل الكل",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWord": "تجاهل",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWordDescription": "تجاهل",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSize": "تكبير الخط",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSizeDescription": "زيادة حجم الخط.",
  "XtraRichEditStringId.MenuCmd_IncrementFontSize": "IncrementFontSize",
  "XtraRichEditStringId.MenuCmd_IncrementFontSizeDescription": "IncrementFontSize",
  "XtraRichEditStringId.MenuCmd_IncrementIndent": "زيادة المسافة البادئة",
  "XtraRichEditStringId.MenuCmd_IncrementIndentDescription": "Increase the indent level of the paragraph.",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraph": "IncrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraphDescription": "IncrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndent": "إينكريمينتباراجرافليفتيندينت",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndentDescription": "إينكريمينتباراجرافليفتيندينتديسكريبشن",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevel": "Increment outline level",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevelDescription": "Increment outline level",
  "XtraRichEditStringId.MenuCmd_InsertBreak": "Breaks",
  "XtraRichEditStringId.MenuCmd_InsertBreakDescription": "Add page, section, or column breaks to the document.",
  "XtraRichEditStringId.MenuCmd_InsertBulletList": "Bullets",
  "XtraRichEditStringId.MenuCmd_InsertBulletListDescription": "Start a bulleted list.",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholder": "إدراج تسمية توضيحية",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholderDescription": "إضافة تسمية توضيحية إلى صورة أو صورة أخرى.\n\nالتسمية توضيحية هي سطر من النص الذي يظهر أسفل كائن لوصف ذلك",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMark": "InsertClosingDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMarkDescription": "InsertClosingDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMark": "InsertClosingSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMarkDescription": "InsertClosingSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreak": "عمود",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreakDescription": "Indicate that the text following the column break will begin in the next column.",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbol": "إينسيرتكوبيرايتسيمبول",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbolDescription": "إينسيرتكوبيرايتسيمبول",
  "XtraRichEditStringId.MenuCmd_InsertEllipsis": "InsertEllipsis",
  "XtraRichEditStringId.MenuCmd_InsertEllipsisDescription": "InsertEllipsis",
  "XtraRichEditStringId.MenuCmd_InsertEmDash": "InsertEmDash",
  "XtraRichEditStringId.MenuCmd_InsertEmDashDescription": "InsertEmDash",
  "XtraRichEditStringId.MenuCmd_InsertEnDash": "InsertEnDash",
  "XtraRichEditStringId.MenuCmd_InsertEnDashDescription": "InsertEnDash",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaption": "Equations Caption",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaptionDescription": "إضافة تسمية توضيحية معادلة.",
  "XtraRichEditStringId.MenuCmd_InsertField": "InsertField",
  "XtraRichEditStringId.MenuCmd_InsertFieldDescription": "InsertField",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaption": "Figures Caption",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaptionDescription": "إضافة تسمية توضيحية شكل.",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPicture": "الصورة",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPictureDescription": "بإدراج صورة من ملف.",
  "XtraRichEditStringId.MenuCmd_InsertHyperlink": "InsertHyperlink",
  "XtraRichEditStringId.MenuCmd_InsertHyperlinkDescription": "InsertHyperlinkDescription",
  "XtraRichEditStringId.MenuCmd_InsertHyphen": "إدراج",
  "XtraRichEditStringId.MenuCmd_InsertLineBreak": "InsertLineBreak",
  "XtraRichEditStringId.MenuCmd_InsertLineBreakDescription": "InsertLineBreak",
  "XtraRichEditStringId.MenuCmd_InsertMergeField": "إدراج حقل دمج",
  "XtraRichEditStringId.MenuCmd_InsertMergeFieldDescription": "Insert Merge Field.",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelList": "Multilevel list",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelListDescription": "Start a multilevel list.",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingHyphen": "إدراجNonBreakingHyphen",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpace": "InsertNonBreakingSpace",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpaceDescription": "InsertNonBreakingSpace",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMark": "InsertOpeningDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMarkDescription": "InsertOpeningDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMark": "InsertOpeningSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMarkDescription": "InsertOpeningSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak": "الصفحة",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2": "فاصل الصفحات",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2Description": "بدء تشغيل الصفحة التالية في الموضع الحالي.",
  "XtraRichEditStringId.MenuCmd_InsertPageBreakDescription": "بدء تشغيل الصفحة التالية في الموضع الحالي.",
  "XtraRichEditStringId.MenuCmd_InsertPageCountField": "عدد الصفحات",
  "XtraRichEditStringId.MenuCmd_InsertPageCountFieldDescription": "Insert total page count into the document.",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberField": "رقم الصفحة",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberFieldDescription": "Insert page numbers into the document.",
  "XtraRichEditStringId.MenuCmd_InsertParagraph": "InsertParagraph",
  "XtraRichEditStringId.MenuCmd_InsertParagraphDescription": "InsertParagraph",
  "XtraRichEditStringId.MenuCmd_InsertPicture": "Inline Picture",
  "XtraRichEditStringId.MenuCmd_InsertPictureDescription": "Insert inline picture from a file.",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbol": "رمز إينسيرتريجيستيريدتراديمارك",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbolDescription": "رمز إينسيرتريجيستيريدتراديمارك",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuous": "Section (Continuous)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuousDescription": "Insert a section break and start the new section on the same page.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPage": "قسم (صفحة زوجية)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPageDescription": "Insert a section break and start the new section on the next even-numbered page.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPage": "المقطع (الصفحة التالية)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPageDescription": "Insert a section break and start the new section on the next page.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPage": "المقطع (صفحة فردية)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPageDescription": "Insert a section break and start the new section on the next odd-numbered page.",
  "XtraRichEditStringId.MenuCmd_InsertSimpleList": "Numbering",
  "XtraRichEditStringId.MenuCmd_InsertSimpleListDescription": "Start a numbered list.",
  "XtraRichEditStringId.MenuCmd_InsertSymbol": "الرمز",
  "XtraRichEditStringId.MenuCmd_InsertSymbolDescription": "إدراج الرموز التي هي الفقرة ليس على لوحة المفاتيح، مثل رموز حقوق النشر، رموز العلامات التجارية، علامات وأحرف Unicode.",
  "XtraRichEditStringId.MenuCmd_InsertTab": "إينسيرتاب",
  "XtraRichEditStringId.MenuCmd_InsertTabDescription": "إينسيرتاب",
  "XtraRichEditStringId.MenuCmd_InsertTable": "الجدول",
  "XtraRichEditStringId.MenuCmd_InsertTableCells": "إدراج خلايا",
  "XtraRichEditStringId.MenuCmd_InsertTableCellsDescription": "إدراج خلايا",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeft": "إدراج اليسار",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeftDescription": "إضافة عمود جديد إلى يسار العمود المحدد مباشرة.",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRight": "إدراج الحق",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRightDescription": "إضافة عمود جديد إلى يسار العمود المحدد مباشرة.",
  "XtraRichEditStringId.MenuCmd_InsertTableDescription": "Insert a table into the document.",
  "XtraRichEditStringId.MenuCmd_InsertTableElement": "إدراج",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContents": "جدول المحتويات",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContentsDescription": "إضافة \"جدول محتويات\" إلى المستند.\n\nبمجرد قيامك بإضافة \"جدول المحتويات\"، انقر فوق الزر \"إضافة نص\" لإضافة إدخالات الجدول-",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquations": "جدول المعادلات",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquationsDescription": "Insert a Table of Equations into the document.\n\nA Table of Equations includes a list of all the equations in the document.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFigures": "Table of Figures",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresDescription": "Insert a Table of Figures into the document.\n\nA Table of Figures includes a list of all the figures in the document.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholder": "إدراج جدول الرسوم التوضيحية",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholderDescription": "إدراج \"جدول الرسوم التوضيحية\" في المستند.\n\n\"جدول الرسوم التوضيحية\" يتضمن قائمة بجميع أرقام أو جداول أو معادلات في المستند.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTables": "Table of Tables",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTablesDescription": "إدراج جدول الجداول في المستند.\n\nيتضمن جدول الجداول قائمة بكافة الجداول في المستند.",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAbove": "إدراج أعلاه",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAboveDescription": "إضافة صف جديد أعلى الصف المحدد مباشرة.",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelow": "إدراج أدناه",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelowDescription": "إضافة صف جديد أسفل الصف المحدد مباشرة.",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaption": "جداول توضيحية",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaptionDescription": "إضافة تسمية توضيحية لجدول.",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraph": "InsertTabToParagraph",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraphDescription": "InsertTabToParagraphDescription",
  "XtraRichEditStringId.MenuCmd_InsertText": "InsertText",
  "XtraRichEditStringId.MenuCmd_InsertTextBox": "مربع نص",
  "XtraRichEditStringId.MenuCmd_InsertTextBoxDescription": "إدراج مربع نص في المستند.",
  "XtraRichEditStringId.MenuCmd_InsertTextDescription": "InsertText",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbol": "إينسيرتراديماركسيمبول",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbolDescription": "إينسيرتراديماركسيمبول",
  "XtraRichEditStringId.MenuCmd_Language": "اللغة",
  "XtraRichEditStringId.MenuCmd_LanguageDescription": "تعيين اللغة المستخدمة للتدقيق الإملائي والنحوي للنص المحدد-",
  "XtraRichEditStringId.MenuCmd_LastDataRecord": "Last Record",
  "XtraRichEditStringId.MenuCmd_LastDataRecordDescription": "Last Record",
  "XtraRichEditStringId.MenuCmd_LoadDocument": "مفتوحة",
  "XtraRichEditStringId.MenuCmd_LoadDocumentDescription": "فتح مستند-",
  "XtraRichEditStringId.MenuCmd_LockField": "تأمين الحقل",
  "XtraRichEditStringId.MenuCmd_LockFieldDescription": "تأمين الحقل",
  "XtraRichEditStringId.MenuCmd_LockTracking": "قفل تتبع",
  "XtraRichEditStringId.MenuCmd_LockTrackingDescription": "استخدام كلمة مرور لمنع الآخرين من إيقاف تشغيل \"تعقب عدد التغييرات\"",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommand": "دمج المراسلات",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommandDescription": "دمج المراسلات",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCase": "lowercase",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCaseDescription": "تغيير النص المحدد إلى أحرف صغيرة.",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCase": "UPPERCASE",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCaseDescription": "تغيير النص المحدد إلى أحرف كبيرة.",
  "XtraRichEditStringId.MenuCmd_MergeTableCells": "دمج الخلايا",
  "XtraRichEditStringId.MenuCmd_MergeTableCellsDescription": "دمج الخلايا المحددة في خلية واحدة.",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlink": "ModifyHyperlink",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlinkDescription": "موديفيهايبرلينكديسكريبشن",
  "XtraRichEditStringId.MenuCmd_ModifyTableStyle": "تعديل نمط جدول...",
  "XtraRichEditStringId.MenuCmd_MoveBackward": "MoveBackward",
  "XtraRichEditStringId.MenuCmd_MoveBackwardDescription": "MoveBackward",
  "XtraRichEditStringId.MenuCmd_MoveForward": "MoveForward",
  "XtraRichEditStringId.MenuCmd_MoveForwardDescription": "MoveForward",
  "XtraRichEditStringId.MenuCmd_MoveLineDown": "MoveLineDown",
  "XtraRichEditStringId.MenuCmd_MoveLineDownDescription": "MoveLineDown",
  "XtraRichEditStringId.MenuCmd_MoveLineUp": "MoveLineUp",
  "XtraRichEditStringId.MenuCmd_MoveLineUpDescription": "MoveLineUp",
  "XtraRichEditStringId.MenuCmd_MoveNextPage": "MoveNextPage",
  "XtraRichEditStringId.MenuCmd_MoveNextPageDescription": "MoveNextPage",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraph": "MoveNextParagraph",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraphDescription": "MoveNextParagraph",
  "XtraRichEditStringId.MenuCmd_MoveNextWord": "MoveNextWord",
  "XtraRichEditStringId.MenuCmd_MoveNextWordDescription": "MoveNextWord",
  "XtraRichEditStringId.MenuCmd_MovePreviousPage": "MovePreviousPage",
  "XtraRichEditStringId.MenuCmd_MovePreviousPageDescription": "MovePreviousPage",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraph": "MovePreviousParagraph",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraphDescription": "MovePreviousParagraph",
  "XtraRichEditStringId.MenuCmd_MovePreviousWord": "MovePreviousWord",
  "XtraRichEditStringId.MenuCmd_MovePreviousWordDescription": "MovePreviousWord",
  "XtraRichEditStringId.MenuCmd_MoveScreenDown": "MoveScreenDown",
  "XtraRichEditStringId.MenuCmd_MoveScreenDownDescription": "MoveScreenDown",
  "XtraRichEditStringId.MenuCmd_MoveScreenUp": "MoveScreenUp",
  "XtraRichEditStringId.MenuCmd_MoveScreenUpDescription": "MoveScreenUp",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocument": "MoveToBeginBeginOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocumentDescription": "MoveToBeginBeginOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocument": "MoveToEndOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocumentDescription": "MoveToEndOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLine": "MoveToEndOfLine",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLineDescription": "MoveToEndOfLine",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLine": "MoveToBeginOfLine",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLineDescription": "MoveToBeginOfLine",
  "XtraRichEditStringId.MenuCmd_NewComment": "تعليق جديد",
  "XtraRichEditStringId.MenuCmd_NewCommentDescription": "إضافة تعليق حول التحديد.",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocument": "جديد",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocumentDescription": "إنشاء مستند جديد-",
  "XtraRichEditStringId.MenuCmd_NewTableStyle": "نمط الجدول الجديد...",
  "XtraRichEditStringId.MenuCmd_NextComment": "التالية",
  "XtraRichEditStringId.MenuCmd_NextCommentDescription": "الانتقال إلى التعليق التالي في المستند.",
  "XtraRichEditStringId.MenuCmd_NextDataRecord": "السجل التالي",
  "XtraRichEditStringId.MenuCmd_NextDataRecordDescription": "السجل التالي",
  "XtraRichEditStringId.MenuCmd_NextRevision": "التالية",
  "XtraRichEditStringId.MenuCmd_NextRevisionDescription": "الانتقال السريع إلى التغيير المتعقب التالي.",
  "XtraRichEditStringId.MenuCmd_None": " ",
  "XtraRichEditStringId.MenuCmd_OpenHyperlink": "التشعبي إزالة",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPosition": "أوبينهايبرلينكاتكاريتبوسيشن",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPositionDescription": "أوبينهايبرلينكاتكاريتبوسيتيونديسكريبشن",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkDescription": "التشعبي إزالة",
  "XtraRichEditStringId.MenuCmd_OvertypeText": "أوفيرتيبيتيكست",
  "XtraRichEditStringId.MenuCmd_OvertypeTextDescription": "أوفيرتيبيتيكست",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenter": "مركز",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenterDescription": "Center your content on the page.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistribute": "وزعت",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistributeDescription": "محاذاة النص إلى كل من الهوامش اليمنى واليسرى.\n\nسيتم إضافة مسافة بين الأحرف والكلمات. إذا كان السطر الأخير قصيراً، سيتم إضافة مسافات إضافية بين الأحرف لجعلها تطابق عرض الفقرة.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustify": "تبرير",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyDescription": "Distribute your text evenly between left and right margins. Justified text gives you document clean edges so it looks more polished.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHigh": "ضبط عالي",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHighDescription": "محاذاة النص إلى كل من الهوامش اليمنى واليسرى.\n\nيحدد أن الفقرة تستخدم الكشيدة مع أوسع طول للنص العربي. بالنسبة للغات الأخرى، يتم محاذاة نص الفقرة بأوسع تباعد بين الكلمات.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLow": "ضبط منخفض",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLowDescription": "محاذاة النص إلى كل من الهوامش اليمنى واليسرى.\n\nإذا كانت اللغة العربية، فإن الفقرة تستخدم الكشيدة الصغيرة الطول. في اللغات الأخرى، يتم تبرير النص بتباعد قصير بين الكلمات.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMedium": "ضبط متوسط",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMediumDescription": "محاذاة النص إلى كل من الهوامش اليمنى واليسرى.\n\nإذا كانت اللغة العربية، فإن الفقرة تستخدم الكشيدة متوسطة الطول. في اللغات الأخرى، يتم محاذاة النص بتباعد أوسع بين الكلمات.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeft": "محاذاة النص لليسار",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeftDescription": "Align your content with the left margin.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRight": "محاذاة النص إلى اليمين",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRightDescription": "Align your content with the right margin.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistribute": "التايلندية الموزعة",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistributeDescription": "محاذاة النص إلى كل من الهوامش اليمني واليسرى عن طريق أضافه مسافة اضافيه بين كل حرفين للغات مع علامة النغمة وعلامة العلة.",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRight": "اتجاه النص من اليسار إلى اليمين",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRightDescription": "للقراءة من اليمين إلى اليسار.",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeft": "اتجاه النص من اليمين إلى اليسار",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeftDescription": "للقراءة من اليسار إلى اليمين.",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenation": "Suppress Hyphenation for Current Paragraph",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenationDescription": "Suppress Hyphenation for Current Paragraph",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbers": "Suppress for Current Paragraph",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbersDescription": "Suppress for Current Paragraph",
  "XtraRichEditStringId.MenuCmd_Paste": "لصق",
  "XtraRichEditStringId.MenuCmd_PasteDescription": "لصق محتويات \"الحافظة\".",
  "XtraRichEditStringId.MenuCmd_PasteFiles": "Files",
  "XtraRichEditStringId.MenuCmd_PasteFilesDescription": "إدراج محتويات الحافظة كملف مضمن.",
  "XtraRichEditStringId.MenuCmd_PasteHtmlText": "HTML Format",
  "XtraRichEditStringId.MenuCmd_PasteHtmlTextDescription": "Inserts the contents of the Clipboard as HTML format.",
  "XtraRichEditStringId.MenuCmd_PasteImage": "الصورة",
  "XtraRichEditStringId.MenuCmd_PasteImageDescription": "Inserts the contents of the Clipboard as picture.",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImage": "ملف التعريف",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImageDescription": "Inserts the contents of the Clipboard as metafile.",
  "XtraRichEditStringId.MenuCmd_PastePlainText": "Unformatted text",
  "XtraRichEditStringId.MenuCmd_PastePlainTextDescription": "يقوم بإدراج محتويات الحافظة كنص بدون أي تنسيق.",
  "XtraRichEditStringId.MenuCmd_PasteRtfText": "نص منسق (RTF)",
  "XtraRichEditStringId.MenuCmd_PasteRtfTextDescription": "إدراج محتويات الحافظة كنص مع تنسيق الخط والجدول.",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlText": "Formatted text (XAML)",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlTextDescription": "إدراج محتويات الحافظة كنص مع تنسيق الخط.",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPoint": "PlaceCaretToPhysicalPoint",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPointDescription": "PlaceCaretToPhysicalPoint",
  "XtraRichEditStringId.MenuCmd_PreviousComment": "السابقة",
  "XtraRichEditStringId.MenuCmd_PreviousCommentDescription": "انتقل إلى التعليق السابق في المستند.",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecord": "السجل السابق",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecordDescription": "السجل السابق",
  "XtraRichEditStringId.MenuCmd_PrevRevision": "السابقة",
  "XtraRichEditStringId.MenuCmd_PrevRevisionDescription": "انتقل إلى التغيير المتعقب السابق.",
  "XtraRichEditStringId.MenuCmd_Print": "& طباعة",
  "XtraRichEditStringId.MenuCmd_PrintDescription": "حدد طابعة وعدد النسخ وخيارات الطباعة الأخرى قبل الطباعة.",
  "XtraRichEditStringId.MenuCmd_PrintPreview": "ما قبل الطباعة وعرض",
  "XtraRichEditStringId.MenuCmd_PrintPreviewDescription": "معاينة الصفحات قبل الطباعة.",
  "XtraRichEditStringId.MenuCmd_PrintView": "Print View",
  "XtraRichEditStringId.MenuCmd_PrintViewDescription": "Print View",
  "XtraRichEditStringId.MenuCmd_ProtectDocument": "Protect Document",
  "XtraRichEditStringId.MenuCmd_ProtectDocumentDescription": "المساعدة في منع الأشخاص من تحرير المستند عن طريق تحديد كلمة مرور.",
  "XtraRichEditStringId.MenuCmd_QuickPrint": "& طباعة سريعة",
  "XtraRichEditStringId.MenuCmd_QuickPrintDescription": "إرسال المستند مباشرة إلى الطابعة الافتراضية دون إجراء تغييرات.",
  "XtraRichEditStringId.MenuCmd_ReadingView": "عرض القراءة",
  "XtraRichEditStringId.MenuCmd_ReadingViewDescription": "عرض القراءة",
  "XtraRichEditStringId.MenuCmd_Redo": "الإعادة",
  "XtraRichEditStringId.MenuCmd_RedoDescription": "إعادة العملية الأخيرة",
  "XtraRichEditStringId.MenuCmd_Reject": "رفض",
  "XtraRichEditStringId.MenuCmd_RejectAllChanges": "رفض كافة التغييرات",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTracking": "رفض كافة التغييرات وإيقاف تعقب",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTrackingDescription": "رفض كافة التغييرات وإيقاف تعقب",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesDescription": "رفض كافة التغييرات",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShown": "المعروضة",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShownDescription": "المعروضة",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevision": "رفض ثم نقل إلى الخطوة التالية",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevisionDescription": "التالية.",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevision": "رفض هذا التغيير",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevisionDescription": "رفض هذا التغيير",
  "XtraRichEditStringId.MenuCmd_RejectDescription": "خيارات إضافية، مثل رفض كافة التغييرات في وقت واحد.",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlink": "ارتباط تشعبي",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlinkDescription": "ارتباط تشعبي",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraph": "Remove Space &After Paragraph",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraph": "Remove Space &Before Paragraph",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_Replace": "استبدال",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackward": "ReplaceAllBackward",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackwardDescription": "ReplaceAllBackwardDescription",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForward": "ReplaceAllForward",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForwardDescription": "ReplaceAllForwardDescription",
  "XtraRichEditStringId.MenuCmd_ReplaceBackward": "ReplaceBackward",
  "XtraRichEditStringId.MenuCmd_ReplaceBackwardDescription": "ReplaceBackward",
  "XtraRichEditStringId.MenuCmd_ReplaceDescription": "Replace text in the document.",
  "XtraRichEditStringId.MenuCmd_ReplaceForward": "ReplaceForward",
  "XtraRichEditStringId.MenuCmd_ReplaceForwardDescription": "ReplaceForward",
  "XtraRichEditStringId.MenuCmd_ReplaceText": "ReplaceText",
  "XtraRichEditStringId.MenuCmd_ReplaceTextDescription": "ReplaceTextDescription",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormatting": "إعادة تعيين تنسيق الأحرف",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormattingDescription": "يجعل الاختيار تنسيق الأحرف الافتراضي للنمط المطبق.",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBorders": "ولا يوجد حد",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBordersDescription": "تخصيص حدود الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_Reviewers": "المراجعين",
  "XtraRichEditStringId.MenuCmd_ReviewersDescription": "حدد فيه تعليقات المراجع تسليط الضوء في الوثيقة-",
  "XtraRichEditStringId.MenuCmd_ReviewingPane": "استعراض جزء",
  "XtraRichEditStringId.MenuCmd_ReviewingPaneDescription": "إظهار أو إخفاء التعليقات المستند في نافذة منفصلة.",
  "XtraRichEditStringId.MenuCmd_SaveDocument": "حفظ",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAs": "حفظ باسم",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAsDescription": "فتح مربع الحوار \"حفظ باسم\" تحديد تنسيق ملف وحفظ المستند إلى موقع جديد-",
  "XtraRichEditStringId.MenuCmd_SaveDocumentDescription": "حفظ المستند.",
  "XtraRichEditStringId.MenuCmd_ScrollDown": "التمرير إلى أسفل",
  "XtraRichEditStringId.MenuCmd_ScrollDownDescription": "التمرير إلى أسفل",
  "XtraRichEditStringId.MenuCmd_ScrollToPage": "ScrollToPage",
  "XtraRichEditStringId.MenuCmd_ScrollToPageDescription": "ScrollToPage",
  "XtraRichEditStringId.MenuCmd_SelectAll": "حدد كافة",
  "XtraRichEditStringId.MenuCmd_SelectAllDescription": "Select entire document content.",
  "XtraRichEditStringId.MenuCmd_SelectBookmark": "Select Bookmark",
  "XtraRichEditStringId.MenuCmd_SelectBookmarkDescription": "Select Bookmark",
  "XtraRichEditStringId.MenuCmd_SelectComment": "حدد التعليق",
  "XtraRichEditStringId.MenuCmd_SelectCommentDescription": "حدد التعليق",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaret": "SelectFieldNextToCaret",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaretDescription": "SelectFieldNextToCaretDescription",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaret": "SelectFieldPrevToCaret",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaretDescription": "SelectFieldPrevToCaretDescription",
  "XtraRichEditStringId.MenuCmd_SelectTable": "الجدول",
  "XtraRichEditStringId.MenuCmd_SelectTableCell": "حدد الخلية",
  "XtraRichEditStringId.MenuCmd_SelectTableCellDescription": "حدد الخلية",
  "XtraRichEditStringId.MenuCmd_SelectTableColumns": "حدد العمود",
  "XtraRichEditStringId.MenuCmd_SelectTableColumnsDescription": "حدد العمود",
  "XtraRichEditStringId.MenuCmd_SelectTableDescription": "الجدول",
  "XtraRichEditStringId.MenuCmd_SelectTableElements": "حدد",
  "XtraRichEditStringId.MenuCmd_SelectTableElementsDescription": "حدد الخلية الحالية، والصف أو العمود، أو الجدول بأكمله.",
  "XtraRichEditStringId.MenuCmd_SelectTableRow": "تحديد صف",
  "XtraRichEditStringId.MenuCmd_SelectTableRowDescription": "تحديد صف",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacing": "2.0",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapType": "خلف النص",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignment": "أسفل الوسط",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignmentDescription": "الوضع في الوسط السفلي مع مربع النص التفاف",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignment": "أسفل اليسار",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignmentDescription": "الموقف في أسفل اليسار باستخدام التفاف النص المربع",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignment": "أسفل اليمين",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignmentDescription": "الموقف في أسفل اليمين مع مربع النص التفاف",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapType": "أمام النص",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapType": "In Line with Text",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignment": "مركز الأوسط",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignmentDescription": "الموقف في مركز الأوسط مع مربع النص التفاف",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignment": "يسار الوسط",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignmentDescription": "الموقف في يسار الوسط مع مربع النص التفاف",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignment": "اليمين الوسط",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignmentDescription": "الموقف في حق الأوسط مع مربع النص التفاف",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapType": "ساحة",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapType": "من خلال",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapType": "ضيق",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapType": "أعلى وأسفل",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignment": "مركز أعلى",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignmentDescription": "الموقف في مركز أعلى مع مربع النص التفاف",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignment": "أعلى اليسار",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignmentDescription": "الموقف في أعلى اليسار باستخدام التفاف النص المربع",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignment": "أعلى اليمين",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignmentDescription": "الوضع في أعلى اليمين باستخدام التفاف النص المربع",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomatic": "التلقائي",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomaticDescription": "تشغيل الواصلة التلقائية",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNone": "لا شيء",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNoneDescription": "إيقاف تشغيل الواصلة التلقائية",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientation": "المناظر الطبيعية",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientationDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMargins": "\nأعلى: أسفل {1,10}: {3,10}\n: يسار {0,10}: {2,10}",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMargins": "ضيقة\nأعلى: أسفل {1,10}: {3,10}\n: يسار {0,10}: {2,10}",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMargins": "عادي\nأعلى: أسفل {1,10}: {3,10}\n: يسار {0,10}: {2,10}",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevel": "لا تظهر في جدول المحتويات",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevelDescription": "لا تظهر في جدول المحتويات",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1Level": "المستوى 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1LevelDescription": "المستوى 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2Level": "المستوى 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2LevelDescription": "المستوى 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3Level": "المستوى 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3LevelDescription": "المستوى 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4Level": "المستوى 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4LevelDescription": "المستوى 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5Level": "المستوى 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5LevelDescription": "المستوى 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6Level": "المستوى 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6LevelDescription": "المستوى 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7Level": "المستوى 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7LevelDescription": "المستوى 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8Level": "المستوى 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8LevelDescription": "المستوى 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9Level": "المستوى 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9LevelDescription": "المستوى 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevel": "Level {0}",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevelDescription": "Level {0}",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientation": "عمودي",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientationDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetSectionColumns": "الأعمدة",
  "XtraRichEditStringId.MenuCmd_SetSectionColumnsDescription": "Split text into two or more columns.",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuous": "المستمر",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuousDescription": "المستمر",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNone": "لا شيء",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNoneDescription": "No line numbers.",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPage": "Restart Each Page",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPageDescription": "Restart Each Page",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSection": "قم بإعادة تشغيل كل مقطع",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSectionDescription": "قم بإعادة تشغيل كل مقطع",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumn": "واحد",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumnDescription": "One column.",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumns": "ثلاثة",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumnsDescription": "Three columns.",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumns": "اثنين",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumnsDescription": "Two columns.",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacing": "1.5",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacing": "1.0",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMargins": "واسعة\nأعلى: أسفل {1,10}: {3,10}\n: يسار {0,10}: {2,10}",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShiftTabKey": "ShiftTabKey",
  "XtraRichEditStringId.MenuCmd_ShiftTabKeyDescription": "ShiftTabKey",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodes": "Show All Field Codes",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodesDescription": "View the document markup with dynamic elements displaying their rich-text codes.",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResults": "Show All Field Results",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResultsDescription": "View the document content with dynamic elements displaying real data.",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkForm": "الإشارة المرجعية",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkFormDescription": "إنشاء إشارة مرجعية تعيين اسم لنقطة معينة في مستند\n\nيمكنك إنشاء ارتباطات تشعبية للانتقال مباشرة إلى موقع الإشارة مرجعية.",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingForm": "حدود وتظليل",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingFormDescription": "استكشاف خيارات الحدود الإضافية، مثل لون الخط وعرض الخط",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupForm": "More &Columns...",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupFormDescription": "Show the Column dialog box to customize column widths.",
  "XtraRichEditStringId.MenuCmd_ShowCommentForm": "التعليق",
  "XtraRichEditStringId.MenuCmd_ShowCommentFormDescription": "إظهار مربع الحوار تعليق.",
  "XtraRichEditStringId.MenuCmd_ShowDocumentProperties": "خصائص الوثيقة",
  "XtraRichEditStringId.MenuCmd_ShowDocumentPropertiesDescription": "إظهار مربع الحوار \"خصائص\".",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleForm": "تعديل نمط...",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleFormDescription": "إظهار مربع الحوار \"تحرير النمط\".",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsForm": "خيارات تخطيط إضافية...",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsFormDescription": "إظهار مربع الحوار \"تخطيط\".",
  "XtraRichEditStringId.MenuCmd_ShowFontForm": "الخط...",
  "XtraRichEditStringId.MenuCmd_ShowFontFormDescription": "Show the Font dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkForm": "الارتباط التشعبي",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkFormDescription": "إنشاء ارتباط إلى صفحة ويب، صورة أو عنوان بريد إلكتروني أو برنامج.",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationForm": "خيارات الواصلة...",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationFormDescription": "تغيير سلوك الواصلة للنص المحدد.",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldForm": "إدراج حقل دمج",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldFormDescription": "إضافة حقل من قائمة المستلمين أو من جدول بيانات إلى المستند.",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingForm": "&Line Numbering Options...",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingFormDescription": "Line Numbering Options...",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingForm": "Line Spacing Options...",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowMarkup": "إظهار العلامات",
  "XtraRichEditStringId.MenuCmd_ShowMarkupDescription": "اختر أنواع العلامات التي تريد إظهارها في المستند.",
  "XtraRichEditStringId.MenuCmd_ShowNumberingList": "Bullets and Numbering...",
  "XtraRichEditStringId.MenuCmd_ShowNumberingListDescription": "Show the Numbered List dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupForm": "مخصص M & أرجينس...",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupForm": "أكثر من P & أحجام إبر...",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupForm": "إعداد الصفحة",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupFormDescription": "Show the Page Setup dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowParagraphForm": "الفقرة...",
  "XtraRichEditStringId.MenuCmd_ShowParagraphFormDescription": "Show the Paragraph dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialForm": "لصق خاص",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialFormDescription": "لصق خاص",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsForm": "Range Editing Permissions",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsFormDescription": "Grant user permissions to edit the selected part of the document.",
  "XtraRichEditStringId.MenuCmd_ShowSymbol": "الرمز",
  "XtraRichEditStringId.MenuCmd_ShowSymbolDescription": "Show the Symbol dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsForm": "صفحة",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsFormDescription": "تخصيص هوامش الخلية والتباعد بين الخلايا.",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesForm": "خصائص",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescription": "Show the Table Properties dialog box to change advanced table properties, such as indentation and text wrapping options.",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescriptionMenuItem": "Show the Table Properties dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormMenuItem": "Table Properties...",
  "XtraRichEditStringId.MenuCmd_ShowTabsForm": "علامات تبويب...",
  "XtraRichEditStringId.MenuCmd_ShowTabsFormDescription": "علامات التبويب",
  "XtraRichEditStringId.MenuCmd_SimpleView": "Simple View",
  "XtraRichEditStringId.MenuCmd_SimpleViewDescription": "Simple View",
  "XtraRichEditStringId.MenuCmd_SplitTable": "Split Table",
  "XtraRichEditStringId.MenuCmd_SplitTableCells": "تقسيم الخلايا",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsDescription": "تقسيم الخلايا المحددة إلى خلايا جديدة متعددة.",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsMenuItem": "تقسيم الخلايا...",
  "XtraRichEditStringId.MenuCmd_SplitTableDescription": "تقسيم الجدول إلى جدولين.\n\nالصف المحدد سوف يصبح الصف الأول من الجدول الجديد.",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftView": "Draft View",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftViewDescription": "View the document as a draft to quickly edit the text.\n\nCertain elements of the document such as headers and footers will not be visible in this view.",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutView": "",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutViewDescription": "View the document as it will appear on the printed page.",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleView": "Simple View",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleViewDescription": "View the document as a simple memo.\n\nThis view ignores the page layout to draw attention to text editing.",
  "XtraRichEditStringId.MenuCmd_SymbolFormInsertButton": "إدراج",
  "XtraRichEditStringId.MenuCmd_TabKey": "TabKey",
  "XtraRichEditStringId.MenuCmd_TabKeyDescription": "TabKey",
  "XtraRichEditStringId.MenuCmd_ToggleAllFields": "تبديل كافة الحقول",
  "XtraRichEditStringId.MenuCmd_ToggleAllFieldsDescription": "التبديل بين عرض رموز الحقول ونتائجها في الوثيقة",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibility": "تبديل رؤية المؤلف",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibilityDescription": "تبديل رؤية المؤلف",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumn": "تجمعت الأعمدة",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumnDescription": "النطاقات عرض الأعمدة، التي يتم فيها تنسيق الأعمدة حتى بشكل مختلف من الأعمدة الفردية.\n\nهذه النطاقات يمكن جعل جداول سهلة القراءة.",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRows": "تجمعت الصفوف",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRowsDescription": "عرض النطاقات الصفوف، التي يتم تنسيقها حتى الصفوف بشكل مختلف من الصفوف الفردية.\n\nهذه النطاقات يمكن جعل جداول سهلة القراءة.",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPage": "Different First Page",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPageDescription": "Specify a unique header and footer for the first page of the document.",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPages": "Different Odd && Even Pages",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPagesDescription": "Specify that odd-numbered pages should have a different header and footer from even-numbered pages.",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodes": "تبديل رموز الحقول",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodesDescription": "تبديل رموز الحقول",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLocked": "تبديل الحقل مؤمن",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLockedDescription": "تبديل الحقل مؤمن",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumn": "الأول",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumnDescription": "عرض تنسيق خاص للعمود الأول من الجدول-",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRow": "صف رأس",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRowDescription": "عرض تنسيق خاص للصف الأول من الجدول-",
  "XtraRichEditStringId.MenuCmd_ToggleFontBold": "غامق",
  "XtraRichEditStringId.MenuCmd_ToggleFontBoldDescription": "جعل النص المحدد غامق.",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeout": "Double Strikethrough",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeoutDescription": "يتوسطه خط مزدوج",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderline": "تسطير مزدوج",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "مزدوجة تسطير",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalic": "مائل",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalicDescription": "مائلة النص المحدد-",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeout": "يتوسطه خط",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeoutDescription": "رسم خط من خلال النص المحدد في المنتصف-",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderline": "تسطير",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderlineDescription": "تسطير النص المحدد-",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPrevious": "ارتباط بالسابق",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPreviousDescription": "ارتباط إلى المقطع السابق حيث تحتوي رأس وتذييل الصفحة في المقطع الحالي على المحتوى نفسه كما هو الحال في المقطع السابق-",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenText": "مخفي",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenTextDescription": "Hidden.",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumn": "عمود",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumnDescription": "عرض تنسيق خاص للعمود الأخير من الجدول-",
  "XtraRichEditStringId.MenuCmd_ToggleLastRow": "إجمالي صف",
  "XtraRichEditStringId.MenuCmd_ToggleLastRowDescription": "عرض تنسيق خاص للصف الأخير من الجدول-",
  "XtraRichEditStringId.MenuCmd_ToggleOvertype": "الكتابة الفوقية",
  "XtraRichEditStringId.MenuCmd_ToggleOvertypeDescription": "الكتابة الفوقية",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRuler": "Horizontal Ruler",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRulerDescription": "View the horizontal ruler, used to measure and line up objects in the document.",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLines": "View &Gridlines",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLinesDescription": "Show or hide the gridlines within the table.",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRuler": "Vertical Ruler",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRulerDescription": "View the vertical ruler, used to measure and line up objects in the document.",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouType": "Check Spelling As You Type",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouTypeDescription": "Check Spelling As You Type",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContents": "احتواء تلقائي للمحتويات",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContentsDescription": "Auto-Fit Table to the contents.",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholder": "AutoFit",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholderDescription": "Automatically resize the column widths based on the text in them.\n\nYou can set the table width based on the window size or convert it back to use fixed column widths.",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindow": "AutoFit Window",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindowDescription": "Auto-Fit Table to the window.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBorders": "& كافة الحدود",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBordersDescription": "تخصيص حدود الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorder": "& الحد السفلي",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorderDescription": "تخصيص حدود الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignment": "محاذاة لأسفل الوسط",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignmentDescription": "توسيط النص ومحاذاته إلى أسفل الخلية.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignment": "محاذاة لأسفل اليسار",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignmentDescription": "محاذاة النص إلى الركن الأيسر السفلي من الخلية.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignment": "محاذاة لأسفل اليمين",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignmentDescription": "محاذاة النص إلى أسفل الزاوية اليمنى من الخلية.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorder": "وداخل حدود",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorderDescription": "تخصيص حدود الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorder": "الداخل والحدود الأفقية",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorderDescription": "تخصيص حدود الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorder": "الداخل والحدود العمودية",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorderDescription": "تخصيص حدود الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorder": "& الحد الأيسر",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorderDescription": "تخصيص حدود الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignment": "محاذاة للوسط",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignmentDescription": "توسيط النص أفقياً وعمودياً داخل الخلية.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignment": "محاذاة يسار الوسط",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignmentDescription": "توسيط النص عمودياً ومحاذاته إلى الجانب الأيسر من الخلية.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignment": "محاذاة يمين الوسط",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignmentDescription": "توسيط النص عمودياً ومحاذاته إلى الجانب الأيمن من الخلية.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorder": "خارج & الجانب حدود",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorderDescription": "تخصيص حدود الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorder": "& الحد الأيمن",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorderDescription": "تخصيص حدود الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorder": "إلى & الحدود ف",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorderDescription": "تخصيص حدود الخلايا المحددة.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignment": "محاذاة للوسط العلوي",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignmentDescription": "توسيط النص ومحاذاته إلى الجزء العلوي من الخلية.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignment": "محاذاة إلى أعلى اليسار",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignmentDescription": "محاذاة النص إلى الركن الأيسر العلوي من الخلية.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignment": "محاذاة أعلى اليمين",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignmentDescription": "محاذاة النص إلى الركن الأيمن العلوي من الخلية.",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidth": "Fixed Column Width",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidthDescription": "Set table size to a fixed width.",
  "XtraRichEditStringId.MenuCmd_ToggleTextCase": "tOGGLE cASE",
  "XtraRichEditStringId.MenuCmd_ToggleTextCaseDescription": "tOGGLE cASE.",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedData": "View Merged Data",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedDataDescription": "Replaces the merge fields in your document with actual data from your recipient list so you can see what it looks like.",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespace": "Show/Hide ¶",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespaceDescription": "Show paragraph marks and other hidden formatting symbols.",
  "XtraRichEditStringId.MenuCmd_TrackChanges": "تعقب التغييرات",
  "XtraRichEditStringId.MenuCmd_TrackChangesDescription": "تعقب التغييرات التي تم إجراؤها على هذا المستند.",
  "XtraRichEditStringId.MenuCmd_Undo": "التراجع عن",
  "XtraRichEditStringId.MenuCmd_UndoDescription": "التراجع عن العملية الأخيرة.",
  "XtraRichEditStringId.MenuCmd_UnlockField": "إلغاء تأمين الحقل",
  "XtraRichEditStringId.MenuCmd_UnlockFieldDescription": "إلغاء تأمين الحقل",
  "XtraRichEditStringId.MenuCmd_UnprotectDocument": "إلغاء حماية المستند",
  "XtraRichEditStringId.MenuCmd_UnprotectDocumentDescription": "Enable users to edit the document.",
  "XtraRichEditStringId.MenuCmd_UpdateField": "قم بتحديث الحقل",
  "XtraRichEditStringId.MenuCmd_UpdateFieldDescription": "قم بتحديث الحقل",
  "XtraRichEditStringId.MenuCmd_UpdateFields": "Update Fields",
  "XtraRichEditStringId.MenuCmd_UpdateFieldsDescription": "Update Fields",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContents": "تحديث الجدول",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContentsDescription": "Update the Table of Contents so that all the entries refer to the correct page number.",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFigures": "تحديث الجدول",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFiguresDescription": "تحديث \"جدول الرسوم التوضيحية\" تشمل كافة الإدخالات الموجودة في المستند.",
  "XtraRichEditStringId.MenuCmd_Zoom": "تكبير/تصغير",
  "XtraRichEditStringId.MenuCmd_ZoomDescription": "تكبير/تصغير",
  "XtraRichEditStringId.MenuCmd_ZoomIn": "التكبير",
  "XtraRichEditStringId.MenuCmd_ZoomInDescription": "التكبير للحصول على عرض عن قرب للمستند.",
  "XtraRichEditStringId.MenuCmd_ZoomOut": "التصغير",
  "XtraRichEditStringId.MenuCmd_ZoomOutDescription": "التصغير لمشاهدة مساحة أكبر من الصفحة على حجم مصغر.",
  "XtraRichEditStringId.Msg_BookmarkCreationFailing": "Bookmark with the same name already exists. Replace?",
  "XtraRichEditStringId.Msg_CannotGroupInlineShapes": "لا يمكنك تجميع الأشكال المضمنة.",
  "XtraRichEditStringId.Msg_CannotGroupShapesLocatedInDifferentSubdocuments": "لا يمكن تجميع الأشكال الموجودة في مستندات ثانوية مختلفة.",
  "XtraRichEditStringId.Msg_CantDeleteDefaultStyle": "Cannot delete default style.",
  "XtraRichEditStringId.Msg_CantPasteFormField": "لا يمكنك لصق حقول النموذج في التعليقات، رؤوس، تذييلات، الحواشي السفلية، والتعليقات الختامية، أو مربعات النص.",
  "XtraRichEditStringId.Msg_CantResetDefaultProperties": "لا يمكن إعادة تعيين إعدادات النمط الافتراضي.",
  "XtraRichEditStringId.Msg_ClickToComment": "وعلق:",
  "XtraRichEditStringId.Msg_ClickToFollowHyperlink": "النقر لمتابعة الارتباط",
  "XtraRichEditStringId.Msg_ContinueSearchFromBeginningQuestion": "هل تريد بدء البحث من بداية المستند؟",
  "XtraRichEditStringId.Msg_ContinueSearchFromEndQuestion": "هل تريد بدء البحث من نهاية المستند؟",
  "XtraRichEditStringId.Msg_ContinueSearchInRemainderQuestion": "هل ترغب في البحث في باقي المستند؟",
  "XtraRichEditStringId.Msg_CreateHyperlinkError": "لا يمكن إنشاء ارتباط تشعبي. الارتباط التشعبي في النطاق المحدد موجود بالفعل.",
  "XtraRichEditStringId.Msg_DeleteTableStyleQuestion": "هل تريد حذف النمط {0} من المستند؟",
  "XtraRichEditStringId.Msg_DocumentPositionDoesntMatchDocument": "Error: specified document position or range belongs to other document or subdocument",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPassword": "The password is incorrect!",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPasswordConfirmation": "The password confirmation doesn't match.",
  "XtraRichEditStringId.Msg_DuplicateBookmark": "Bookmark with that name already exists in the document",
  "XtraRichEditStringId.Msg_EncryptedFile": "حاليا لا يدعم ملفات مشفرة",
  "XtraRichEditStringId.Msg_EncryptedFileIntegrityCheckFailed": "هذا الملف قد تم العبث بها أو تلف، وينبغي أن لا تكون المحتويات الموثوق بها. هل ترغب في متابعة فتح هذا الملف؟",
  "XtraRichEditStringId.Msg_ErrorInvalidCustomPropertyValue": "القيمة التي تم إدخالها لا يطابق النوع المحدد. وسوف يتم تخزين القيمة كنص.",
  "XtraRichEditStringId.Msg_ErrorLinkDeletedStyle": "خطأ: لا يمكن ربط نمط المحذوفة",
  "XtraRichEditStringId.Msg_GroupCannotContainCanvas": "لا يمكن أن تحتوي المجموعة على لوحة قماشية.",
  "XtraRichEditStringId.Msg_IncorrectBookmarkName": "Bookmark name should start with a letter and contain only alphanumeric characters and underscore.",
  "XtraRichEditStringId.Msg_IncorrectNumericFieldFormat": "Error: number cannot be represented in the specified format.",
  "XtraRichEditStringId.Msg_IncorrectPassword": "كلمة المرور التي أدخلتها غير صحيحة. تحقق من أن المفتاح CAPS LOCK إيقاف تشغيلها، وتأكد من استخدام حالة الأحرف الصحيحة.",
  "XtraRichEditStringId.Msg_IncorrectPattern": "Incorrect pattern.",
  "XtraRichEditStringId.Msg_IntegrityCheckFailedError": "فشل التحقق من تكامل الملفات المشفرة!\nقد يكون هذا الملف قد تم العبث به أو تلفه.",
  "XtraRichEditStringId.Msg_InternalError": "حدث خطأ داخلي",
  "XtraRichEditStringId.Msg_InvalidBeginInit": "Error: call to BeginInit inside BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidBeginUpdate": "Error: call to BeginUpdate inside BeginInit",
  "XtraRichEditStringId.Msg_InvalidCharacterScale": "يجب أن تكون القيمة بين {0} {1}",
  "XtraRichEditStringId.Msg_InvalidCopyFromDocumentModel": "خطأ: نماذج المستند المصدر والوجهة مختلفة",
  "XtraRichEditStringId.Msg_InvalidDictionaryFormat": "تنسيق القاموس غير صحيح.",
  "XtraRichEditStringId.Msg_InvalidDivisor": "The number must be a divisor of {0}.",
  "XtraRichEditStringId.Msg_InvalidDocumentModel": "Error: document models are different",
  "XtraRichEditStringId.Msg_InvalidEndInit": "خطأ: استدعاء إنهاء أو إلغاء الأمر في غير BeginInit أو داخل BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidEndUpdate": "Error: call to EndUpdate or CancelUpate without BeginUpdate or inside BeginInit",
  "XtraRichEditStringId.Msg_InvalidFontSize": "يجب أن يكون الرقم بين {0} و {1}-",
  "XtraRichEditStringId.Msg_InvalidHeaderFooterOffset": "يجب أن يكون القياس بين {0} و {1}.",
  "XtraRichEditStringId.Msg_InvalidHtmlImagePath": "مسار الصورة المحدد غير موجود.",
  "XtraRichEditStringId.Msg_InvalidImageFile": "الصورة المحددة غير صالحة.",
  "XtraRichEditStringId.Msg_InvalidNavigateUri": "عنوان هذا الموقع غير صالح. تحقق من العنوان وحاول مرة أخرى.",
  "XtraRichEditStringId.Msg_InvalidNumber": "هذه ليست عددا صحيحاً.",
  "XtraRichEditStringId.Msg_InvalidNumberingListIndex": "نومبيرينجليستينديكس يشير إلى قائمة غير موجود.",
  "XtraRichEditStringId.Msg_InvalidNumberingListStartAtValue": "'Start At' must be between {0} and {1} for this format",
  "XtraRichEditStringId.Msg_InvalidParagraphContainNumbering": "Error: paragraph already contains numbering",
  "XtraRichEditStringId.Msg_InvalidParentStyle": "Error: invalid parent style assignment caused circular reference",
  "XtraRichEditStringId.Msg_InvalidSetCharacterProperties": "خطأ: لا يمكن تعيين خصائص دون بيجينينيت أو دون إضافة كائن الوثيقة",
  "XtraRichEditStringId.Msg_InvalidSetParagraphProperties": "خطأ: لا يمكن تعيين خصائص دون بيجينينيت أو دون إضافة كائن الوثيقة",
  "XtraRichEditStringId.Msg_InvalidStyleName": "Invalid style name",
  "XtraRichEditStringId.Msg_InvalidTabStop": "This is not a valid tab stop.",
  "XtraRichEditStringId.Msg_InvalidValueRange": "The value must be between {0} and {1}.",
  "XtraRichEditStringId.Msg_IsNotValid": "'{0}' ليس قيمة صالحة ل '{1}'",
  "XtraRichEditStringId.Msg_LeftRightSectionMarginsTooLarge": "هوامش اليسار/اليمين تكون كبيرة جداً لارتفاع الصفحة في بعض المقاطع.",
  "XtraRichEditStringId.Msg_Loading": "تحميل...",
  "XtraRichEditStringId.Msg_MagicNumberNotFound": "فتحه بتنسيق مختلف عن تنسيق ملحق الملف.",
  "XtraRichEditStringId.Msg_MenuManagerPropertyIsNotSet": "لم يتم تعيين الخاصية \"مينوماناجير\" من ريتشيديتكونترول-",
  "XtraRichEditStringId.Msg_MissingOperator": "!Missing operator.",
  "XtraRichEditStringId.Msg_NoDefaultTabs": "Default tab stops cannot be set.",
  "XtraRichEditStringId.Msg_NoTocEntriesFound": "المحتويات.",
  "XtraRichEditStringId.Msg_NoTrackedChanges": "لا توجد أية تغييرات متعقبة في المستند.",
  "XtraRichEditStringId.Msg_NumberingListNotInListCollection": "لا يمكن استخدام قائمة ترقيم. قائمة الترقيم يجب أن تضاف إلى مجموعة Document.NumberingLists",
  "XtraRichEditStringId.Msg_OperationIsNotValidDueDocumentState": "العملية غير صالحة بسبب الحالة الحالية للمستند.",
  "XtraRichEditStringId.Msg_ParagraphStyleNameAlreadyExists": "اسم النمط هذا موجود بالفعل.",
  "XtraRichEditStringId.Msg_PasswordNotConfirmed": "تأكيد كلمة المرور غير متطابقة.",
  "XtraRichEditStringId.Msg_PasswordRequiredError": "كلمة المرور المطلوبة لفتح هذا الملف!",
  "XtraRichEditStringId.Msg_PasswordTooLong": "يجب أن يكون طول كلمة المرور أقل من {0} حرفاً.",
  "XtraRichEditStringId.Msg_PrintingUnavailable": "Printing is not available. Check if the following assemblies are installed:\n{0}",
  "XtraRichEditStringId.Msg_ReplacementsCount": "{0} replacements were made.",
  "XtraRichEditStringId.Msg_Saving": "Saving...",
  "XtraRichEditStringId.Msg_SearchComplete": "The search is complete.",
  "XtraRichEditStringId.Msg_SearchInBackwardDirectionComplete": "تم الوصول إلى بداية المستند.",
  "XtraRichEditStringId.Msg_SearchInForwardDirectionComplete": "The end of the document has been reached.",
  "XtraRichEditStringId.Msg_SearchInSelectionComplete": "The search in the selection is finished.",
  "XtraRichEditStringId.Msg_SearchItemNotFound": "The search item was not found.",
  "XtraRichEditStringId.Msg_SelectBookmarkError": "Cannot select a bookmark of inactive SubDocument.",
  "XtraRichEditStringId.Msg_SelectCommentError": "لا يمكن تحديد تعليق مستند ثانوي غير نشط.",
  "XtraRichEditStringId.Msg_ShapesBelongToDifferentCanvases": "تنتمي الأشكال المحددة إلى لوحات فنية مختلفة ولا يمكن تجميعها.",
  "XtraRichEditStringId.Msg_ShapesDoNotBelogToCanvas": "لا ينتمي شكل أو أكثر إلى لوحة العمل ولا يمكن تجميعه.",
  "XtraRichEditStringId.Msg_SpecifiedShapeIsNotGroup": "الشكل المحدد ليس مجموعة.",
  "XtraRichEditStringId.Msg_StyleAlreadyLinked": "خطأ: نمط يحتوي بالفعل على نمط مرتبط",
  "XtraRichEditStringId.Msg_StyleNameIsEmpty": "لا يمكن أن يكون اسم النمط فارغ.",
  "XtraRichEditStringId.Msg_SyntaxErrorInFieldPattern": "Syntax Error, {0}.",
  "XtraRichEditStringId.Msg_TableExceedsMaximumNumberOfColumns": "هذا يتجاوز الحد الأقصى لعدد الأعمدة-",
  "XtraRichEditStringId.Msg_TableIntegrityError": "Error: broken table integrity",
  "XtraRichEditStringId.Msg_TopBottomSectionMarginsTooLarge": "الهوامش العلوية/السفلية كبيرة جداً لارتفاع الصفحة في بعض المقاطع.",
  "XtraRichEditStringId.Msg_UnexpectedEndOfFormula": "!Unexpected end of formula.",
  "XtraRichEditStringId.Msg_UnknownSwitchArgument": "Error! Unknown switch argument.",
  "XtraRichEditStringId.Msg_UnmatchedQuotesInFieldPattern": "Error: pattern string contains unmatched quotes.",
  "XtraRichEditStringId.Msg_UnsupportedDocVersion": "Only MS Word 97 and later versions are supported",
  "XtraRichEditStringId.Msg_UnsupportedFormatException": "Unsupported format or corrupted file",
  "XtraRichEditStringId.Msg_UseDeletedBookmarkError": "Error: using deleted bookmark",
  "XtraRichEditStringId.Msg_UseDeletedCommentError": "خطأ: استخدام حذف التعليق",
  "XtraRichEditStringId.Msg_UseDeletedCustomMarkError": "خطأ: استخدام حذف كوستومارك",
  "XtraRichEditStringId.Msg_UseDeletedFieldError": "Error: using deleted field",
  "XtraRichEditStringId.Msg_UseDeletedFormFieldError": "خطأ: استخدام حذف حقل النموذج",
  "XtraRichEditStringId.Msg_UseDeletedHyperlinkError": "خطأ: استخدام حذف الارتباط التشعبي",
  "XtraRichEditStringId.Msg_UseDeletedNoteError": "خطأ: استخدام ملاحظة محذوفة",
  "XtraRichEditStringId.Msg_UseDeletedObjectError": "يتم حذف الكائن بالفعل.",
  "XtraRichEditStringId.Msg_UseDeletedParagraphError": "Error: using deleted paragraph",
  "XtraRichEditStringId.Msg_UseDeletedSectionError": "Error: using deleted section",
  "XtraRichEditStringId.Msg_UseDeletedStyleError": "Error: using deleted style",
  "XtraRichEditStringId.Msg_UseDeletedTableCellError": "خطأ: استخدام حذف خلية الجدول",
  "XtraRichEditStringId.Msg_UseDeletedTableError": "Error: using deleted table",
  "XtraRichEditStringId.Msg_UseDeletedTableRowError": "Error: using deleted table row",
  "XtraRichEditStringId.Msg_UsedWrongUnit": "تم تحديد وحدة القياس بشكل غير صحيح.",
  "XtraRichEditStringId.Msg_UseInvalidCharacterProperties": "Error: character properties are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidCompatibilitySettings": "خطأ: إعدادات التوافق هذه لم تعد صالحة",
  "XtraRichEditStringId.Msg_UseInvalidCustomProperties": "خطأ: هذه الخصائص المخصصة لم تعد صالحة",
  "XtraRichEditStringId.Msg_UseInvalidDocument": "Error: this document is no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocumentEncryption": "خطأ: إعدادات تشفير المستند هذه لم تعد خطأ صالح:",
  "XtraRichEditStringId.Msg_UseInvalidDocumentProperties": "خطأ: خصائص المستند هذا لم يعد صالحاً",
  "XtraRichEditStringId.Msg_UseInvalidDocumentTrackChangesOptions": "هذه الخيارات تعقب المستند التغييرات لم تعد صالحة",
  "XtraRichEditStringId.Msg_UseInvalidParagraphProperties": "Error: paragraph properties are no longer valid",
  "XtraRichEditStringId.Msg_VariableDeletedOrMissed": "خطأ: متغير المستند أما مفقود أو محذوف (من مجموعة متغيرات)",
  "XtraRichEditStringId.Msg_WrongPasswordError": "فشل!",
  "XtraRichEditStringId.Msg_ZeroDivide": "!Zero divide.",
  "XtraRichEditStringId.MsgWinOnlyLimitation": "يمكن تنفيذ هذا الاجراء فقط علي نظام التشغيل Windows.",
  "XtraRichEditStringId.No": "ن",
  "XtraRichEditStringId.Page": "الصفحة {2}: [{3}]",
  "XtraRichEditStringId.RtlComment": "تعليق [{1} {1}]",
  "XtraRichEditStringId.SelectionCollection_AtLeastOneSelectionIsRequiredException": "تحديد. اختيار واحد على الأقل مطلوب.",
  "XtraRichEditStringId.SelectionCollection_CannotRemoveCaretException": "لا يمكن إزالة علامة الإقحام.",
  "XtraRichEditStringId.SelectionCollection_CurrentSelectionAndSpecifiedSelectionIntersectException": "التحديد الحالي واختيار المعين تتقاطع.",
  "XtraRichEditStringId.SelectionCollection_EmptyCollectionException": "لا يمكن إضافة مجموعة فارغة.",
  "XtraRichEditStringId.SelectionCollection_FirstCellContinuesVerticalMergeException": "تواصل الدمج العمودي، وهذا غير مسموح به في مجموعة مختارة من الخلية الأولى في النطاق المحدد-",
  "XtraRichEditStringId.SelectionCollection_LastCellContinuesVerticalMergeException": "الخلية الأخيرة في النطاق المحدد ما زال الدمج العمودي، وهذا غير مسموح به في مجموعة مختارة-",
  "XtraRichEditStringId.SelectionCollection_OutOfRangeException": "كان الفهرس خارج النطاق. يجب أن يكون غير سالب وأقل من حجم المجموعة التحديد.",
  "XtraRichEditStringId.SelectionCollection_PartiallySelectedCellsException": "غير مسموح بالخلايا المحددة جزئيا.",
  "XtraRichEditStringId.SelectionCollection_RangeCannotBeEmptyException": "لا يمكن أن يكون النطاق فارغة.",
  "XtraRichEditStringId.SelectionCollection_SelecitonShouldIncludeNotMoreThanOneRowException": "ينبغي أن يشمل نطاق تحديد ليس أكثر من صف واحد",
  "XtraRichEditStringId.SelectionCollection_SelectionCollectionEmptyException": "جمع التحديد فارغ.",
  "XtraRichEditStringId.SelectionCollection_SelectionExtendsOutsideTableException": "التحديد يمتد خارج الجدول، حيث يجب أن يتم تحديد الصف بأكمله.",
  "XtraRichEditStringId.SelectionCollection_SelectionShouldContainAtLeastOneCharacterException": "التحديد ينبغي أن تحتوي على حرف واحد على الأقل-",
  "XtraRichEditStringId.SelectionCollection_SpecifiedSelectionsIntersectException": "تتقاطع مع تحديدات محددة.",
  "XtraRichEditStringId.TabForm_All": "جميع",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentCenter": "مركز",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentInside": "داخل",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentLeft": "اليسار",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentOutside": "في الخارج",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentRight": "حق",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeColumn": "عمود",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeMargin": "الهامش",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypePage": "الصفحة",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentBottom": "أسفل",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentCenter": "مركز",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentInside": "داخل",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentOutside": "في الخارج",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentTop": "أعلى",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeMargin": "الهامش",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypePage": "الصفحة",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeParagraph": "الفقرة",
  "XtraRichEditStringId.TargetFrameDescription_Blank": "نافذة جديدة",
  "XtraRichEditStringId.TargetFrameDescription_Parent": "الإطار الأصل",
  "XtraRichEditStringId.TargetFrameDescription_Self": "نفس الإطار",
  "XtraRichEditStringId.TargetFrameDescription_Top": "بأكملها",
  "XtraRichEditStringId.UnderlineNone": "(بلا)",
  "XtraRichEditStringId.UserGroup_Administrators": "المسؤولين",
  "XtraRichEditStringId.UserGroup_Contributors": "المساهمون",
  "XtraRichEditStringId.UserGroup_CurrentUser": "المستخدم الحالي",
  "XtraRichEditStringId.UserGroup_Editors": "المحررين",
  "XtraRichEditStringId.UserGroup_Everyone": "الجميع",
  "XtraRichEditStringId.UserGroup_Owners": "أصحاب",
  "XtraRichEditStringId.Yes": "Y",
  "RichEditExtensionsStringId.Caption_ColorAutomatic": "التلقائي",
  "RichEditExtensionsStringId.Caption_Formatting": "تنسيق",
  "RichEditExtensionsStringId.Caption_GroupCaptions": "التسميات التوضيحية",
  "RichEditExtensionsStringId.Caption_GroupClipboard": "الحافظة",
  "RichEditExtensionsStringId.Caption_GroupCommon": "المشتركة",
  "RichEditExtensionsStringId.Caption_GroupDocumentComment": "التعليق",
  "RichEditExtensionsStringId.Caption_GroupDocumentLanguage": "اللغة",
  "RichEditExtensionsStringId.Caption_GroupDocumentProofing": "التدقيق",
  "RichEditExtensionsStringId.Caption_GroupDocumentProtection": "حماية",
  "RichEditExtensionsStringId.Caption_GroupDocumentTracking": "تتبع",
  "RichEditExtensionsStringId.Caption_GroupDocumentViews": "طرق عرض المستندات",
  "RichEditExtensionsStringId.Caption_GroupEditing": "تحرير",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsArrange": "ترتيب",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsShapeStyles": "أنماط الأشكال",
  "RichEditExtensionsStringId.Caption_GroupFont": "الخط",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooter": "رأس & & تذييل الصفحة",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignClose": "وثيقة",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignNavigation": "الملاحة",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignOptions": "خيارات",
  "RichEditExtensionsStringId.Caption_GroupIllustrations": "الرسوم التوضيحية",
  "RichEditExtensionsStringId.Caption_GroupInfo": "معلومات",
  "RichEditExtensionsStringId.Caption_GroupLinks": "وصلات",
  "RichEditExtensionsStringId.Caption_GroupMailMerge": "دمج المراسلات",
  "RichEditExtensionsStringId.Caption_GroupPageBackground": "معلومات أساسية",
  "RichEditExtensionsStringId.Caption_GroupPages": "صفحات",
  "RichEditExtensionsStringId.Caption_GroupPageSetup": "إعداد الصفحة",
  "RichEditExtensionsStringId.Caption_GroupParagraph": "الفقرة",
  "RichEditExtensionsStringId.Caption_GroupShow": "إظهار",
  "RichEditExtensionsStringId.Caption_GroupStyles": "أنماط",
  "RichEditExtensionsStringId.Caption_GroupSymbols": "رموز",
  "RichEditExtensionsStringId.Caption_GroupTableOfContents": "جدول المحتويات",
  "RichEditExtensionsStringId.Caption_GroupTables": "الجداول",
  "RichEditExtensionsStringId.Caption_GroupText": "نص",
  "RichEditExtensionsStringId.Caption_GroupZoom": "تكبير/تصغير",
  "RichEditExtensionsStringId.Caption_NoColor": "لا لون",
  "RichEditExtensionsStringId.Caption_NoFill": "لا التعبئة",
  "RichEditExtensionsStringId.Caption_NoOutline": "لا يوجد مخطط تفصيلي",
  "RichEditExtensionsStringId.Caption_PageCategoryFloatingPictureTools": "أدوات الصورة",
  "RichEditExtensionsStringId.Caption_PageCategoryHeaderFooterTools": "أدوات الرأس والتذييل",
  "RichEditExtensionsStringId.Caption_PageFile": "الملف",
  "RichEditExtensionsStringId.Caption_PageFloatingObjectPictureToolsFormat": "تنسيق",
  "RichEditExtensionsStringId.Caption_PageHeaderFooterToolsDesign": "التصميم",
  "RichEditExtensionsStringId.Caption_PageHome": "الصفحة الرئيسية",
  "RichEditExtensionsStringId.Caption_PageInsert": "إدراج",
  "RichEditExtensionsStringId.Caption_PageLayout": "تخطيط",
  "RichEditExtensionsStringId.Caption_PageMailings": "دمج المراسلات",
  "RichEditExtensionsStringId.Caption_PagePageLayout": "تخطيط الصفحة",
  "RichEditExtensionsStringId.Caption_PageReferences": "مراجع",
  "RichEditExtensionsStringId.Caption_PageReview": "استعراض",
  "RichEditExtensionsStringId.Caption_PageView": "طريقة العرض",
  "ASPxRichEditStringId.Font": "الخط",
  "ASPxRichEditStringId.FontStyle": "نمط الخط",
  "ASPxRichEditStringId.FontSize": "حجم الخط",
  "ASPxRichEditStringId.FontColor": "الخط",
  "ASPxRichEditStringId.UnderlineStyle": "التأكيد على نمط",
  "ASPxRichEditStringId.UnderlineColor": "تسطير اللون",
  "ASPxRichEditStringId.Effects": "تأثير",
  "ASPxRichEditStringId.AllCaps": "أحرف استهلالية كبيرة",
  "ASPxRichEditStringId.Hidden": "مخفي",
  "ASPxRichEditStringId.Normal": "عادي",
  "ASPxRichEditStringId.Bold": "غامق",
  "ASPxRichEditStringId.Italic": "مائل",
  "ASPxRichEditStringId.BoldItalic": "غامق مائل",
  "ASPxRichEditStringId.UnderlineWordsOnly": "تسطير الكلمات فقط",
  "ASPxRichEditStringId.UnderlineType_None": "لا شيء",
  "ASPxRichEditStringId.UnderlineType_Single": "واحد",
  "ASPxRichEditStringId.UnderlineType_Dotted": "منقط",
  "ASPxRichEditStringId.UnderlineType_Dashed": "متقطع",
  "ASPxRichEditStringId.UnderlineType_DashDotted": "منقط داش",
  "ASPxRichEditStringId.UnderlineType_DashDotDotted": "شرطة نقطة منقط",
  "ASPxRichEditStringId.UnderlineType_Double": "مزدوجة",
  "ASPxRichEditStringId.UnderlineType_HeavyWave": "موجه الثقيلة",
  "ASPxRichEditStringId.UnderlineType_LongDashed": "متقطع منذ فترة طويلة",
  "ASPxRichEditStringId.UnderlineType_ThickSingle": "واحد سميكة",
  "ASPxRichEditStringId.UnderlineType_ThickDotted": "منقط سميكة",
  "ASPxRichEditStringId.UnderlineType_ThickDashed": "ثخين متقطع",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotted": "شرطة ثخينة منقط",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotDotted": "نقطة شرطة ثخينة منقط",
  "ASPxRichEditStringId.UnderlineType_ThickLongDashed": "متقطع منذ فترة طويلة سميكة",
  "ASPxRichEditStringId.UnderlineType_DoubleWave": "موجه مزدوجة",
  "ASPxRichEditStringId.UnderlineType_Wave": "موجه",
  "ASPxRichEditStringId.UnderlineType_DashSmallGap": "الفجوة الصغيرة داش",
  "ASPxRichEditStringId.StrikeoutType_None": "لا شيء",
  "ASPxRichEditStringId.StrikeoutType_Single": "واحد",
  "ASPxRichEditStringId.StrikeoutType_Double": "مزدوجة",
  "ASPxRichEditStringId.CharacterFormattingScript_Normal": "عادي",
  "ASPxRichEditStringId.CharacterFormattingScript_Subscript": "منخفض",
  "ASPxRichEditStringId.CharacterFormattingScript_Superscript": "مرتفع",
  "ASPxRichEditStringId.ParagraphTab0": "المسافات البادئة والتباعد",
  "ASPxRichEditStringId.ParagraphTab1": "فواصل السطر والصفحة",
  "ASPxRichEditStringId.General": "العام",
  "ASPxRichEditStringId.Alignment": "المحاذاة",
  "ASPxRichEditStringId.Left": "اليسار",
  "ASPxRichEditStringId.Right": "حق",
  "ASPxRichEditStringId.Centered": "توسيط",
  "ASPxRichEditStringId.Justified": "له ما يبرره",
  "ASPxRichEditStringId.OutlineLevel": "مستوى المخطط التفصيلي",
  "ASPxRichEditStringId.BodyText": "النص الأساسي",
  "ASPxRichEditStringId.Level": "مستوى",
  "ASPxRichEditStringId.Indentation": "المسافة البادئة",
  "ASPxRichEditStringId.Special": "الخاصة",
  "ASPxRichEditStringId.By": "By",
  "ASPxRichEditStringId.none": "(بلا)",
  "ASPxRichEditStringId.FirstLine": "السطر الأول",
  "ASPxRichEditStringId.Hanging": "معلقة",
  "ASPxRichEditStringId.Spacing": "تباعد",
  "ASPxRichEditStringId.Before": "قبل",
  "ASPxRichEditStringId.LineSpacing": "تباعد الأسطر",
  "ASPxRichEditStringId.At": "At",
  "ASPxRichEditStringId.After": "بعد",
  "ASPxRichEditStringId.Single": "واحد",
  "ASPxRichEditStringId.spacing_1_5_lines": "سطر ونصف",
  "ASPxRichEditStringId.Double": "مزدوجة",
  "ASPxRichEditStringId.Multiple": "متعددة",
  "ASPxRichEditStringId.Exactly": "بالضبط",
  "ASPxRichEditStringId.AtLeast": "الأقل",
  "ASPxRichEditStringId.NoSpace": "لا تقم بإضافة مسافة بين الفقرة من نفس النمط",
  "ASPxRichEditStringId.Pagination": "ترقيم الصفحات",
  "ASPxRichEditStringId.KLT": "الإبقاء على أسطر معا",
  "ASPxRichEditStringId.PBB": "فاصل صفحات قبل",
  "ASPxRichEditStringId.Options": "خيارات",
  "ASPxRichEditStringId.Preview": "معاينة",
  "ASPxRichEditStringId.Style": "نمط",
  "ASPxRichEditStringId.Color": "لون",
  "ASPxRichEditStringId.SaveToServer": "حفظ ملف إلى ملقم",
  "ASPxRichEditStringId.DownloadCopy": "قم بتنزيل نسخة",
  "ASPxRichEditStringId.FolderPath": "مسار المجلد",
  "ASPxRichEditStringId.FileType": "نوع الملف",
  "ASPxRichEditStringId.FileName": "ملف",
  "ASPxRichEditStringId.ChooseType": "اختر تحميل نوع الملف",
  "ASPxRichEditStringId.SaveFileAs": "حفظ الملف باسم",
  "ASPxRichEditStringId.Invalid_FileName": "اسم الملف غير صالح",
  "ASPxRichEditStringId.PathDoesNotExist": "المسار غير موجود.\nتحقق من المسار وحاول مرة أخرى.",
  "ASPxRichEditStringId.Portrait": "عمودي",
  "ASPxRichEditStringId.Landscape": "المناظر الطبيعية",
  "ASPxRichEditStringId.Continuous": "المستمر",
  "ASPxRichEditStringId.NewPage": "",
  "ASPxRichEditStringId.EvenPage": "صفحة زوجية",
  "ASPxRichEditStringId.OddPage": "صفحة فردية",
  "ASPxRichEditStringId.WholeDocument": "مستند بأكمله",
  "ASPxRichEditStringId.CurrentSection": "المقطع الحالي",
  "ASPxRichEditStringId.SelectedSections": "المقاطع المحددة",
  "ASPxRichEditStringId.ThisPointForward": "هذه النقطة إلى الأمام",
  "ASPxRichEditStringId.Margins": "هوامش",
  "ASPxRichEditStringId.Paper": "ورقة",
  "ASPxRichEditStringId.Layout": "تخطيط",
  "ASPxRichEditStringId.Top": "أعلى",
  "ASPxRichEditStringId.Bottom": "أسفل",
  "ASPxRichEditStringId.Orientation": "التوجه",
  "ASPxRichEditStringId.PaperSize": "حجم الورق",
  "ASPxRichEditStringId.Width": "العرض",
  "ASPxRichEditStringId.Height": "الارتفاع",
  "ASPxRichEditStringId.Section": "قسم",
  "ASPxRichEditStringId.SectionStart": "بدء المقطع",
  "ASPxRichEditStringId.HeadersAndFooters": "رؤوس وتذييلات الصفحات",
  "ASPxRichEditStringId.DifferentOddAndEven": "مختلفة فردية وزوجية",
  "ASPxRichEditStringId.DifferentFirstPage": "الصفحة الأولى مختلفة",
  "ASPxRichEditStringId.ApplyTo": "تطبيق على",
  "ASPxRichEditStringId.FromEdge": "من الحافة",
  "ASPxRichEditStringId.Header": "رأس",
  "ASPxRichEditStringId.Footer": "تذييل الصفحة",
  "ASPxRichEditStringId.CancelButton": "إلغاء الأمر",
  "ASPxRichEditStringId.OkButton": "OK",
  "ASPxRichEditStringId.OpenButton": "مفتوحة",
  "ASPxRichEditStringId.SaveAsButton": "حفظ",
  "ASPxRichEditStringId.DownloadButton": "تحميل",
  "ASPxRichEditStringId.SelectButton": "حدد",
  "ASPxRichEditStringId.InsertButton": "إدراج",
  "ASPxRichEditStringId.ChangeButton": "التغيير",
  "ASPxRichEditStringId.CloseButton": "وثيقة",
  "ASPxRichEditStringId.InsertTable_TableSize": "حجم الجدول",
  "ASPxRichEditStringId.InsertTable_NumberOfColumns": "عدد الأعمدة",
  "ASPxRichEditStringId.InsertTable_NumberOfRows": "عدد الصفوف",
  "ASPxRichEditStringId.SplitCells_MergeCells": "دمج الخلايا قبل التقسيم",
  "ASPxRichEditStringId.InsertCells_ShiftCellsRight": "إزاحة الخلايا لليسار",
  "ASPxRichEditStringId.InsertCells_ShiftCellsDown": "إزاحة الخلايا إلى الأسفل",
  "ASPxRichEditStringId.InsertCells_InsertEntireRow": "إدراج صف بأكمله",
  "ASPxRichEditStringId.InsertCells_InsertEntireColumn": "إدراج عمود بأكمله",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsLeft": "إزاحة الخلايا اليسار",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsUp": "إزاحة الخلايا إلى أعلى",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireRow": "حذف صف بأكمله",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireColumn": "حذف عمود بأكمله",
  "ASPxRichEditStringId.InsertImage_FromWeb": "من موقع ويب (URL)",
  "ASPxRichEditStringId.InsertImage_FromLocal": "من جهاز الكمبيوتر الخاص بك",
  "ASPxRichEditStringId.InsertImage_EnterUrl": "أدخل عنوان ويب الصورة",
  "ASPxRichEditStringId.InsertImage_UploadInstructions": "استعرض جهاز الكمبيوتر الخاص بك لتحميل ملف الصورة",
  "ASPxRichEditStringId.InsertImage_ImagePreview": "معاينة الصورة",
  "ASPxRichEditStringId.TableProperties_Size": "الحجم",
  "ASPxRichEditStringId.TableProperties_Alignment": "المحاذاة",
  "ASPxRichEditStringId.TableProperties_VerticalAlignment": "العمودية",
  "ASPxRichEditStringId.TableProperties_MeasureIn": "التدبير في",
  "ASPxRichEditStringId.TableProperties_PreferredWidth": "العرض المفضل",
  "ASPxRichEditStringId.TableProperties_IndentLeft": "مسافة بادئة من اليسار",
  "ASPxRichEditStringId.TableProperties_SpecifyHeight": "تحديد الارتفاع",
  "ASPxRichEditStringId.TableProperties_RowHeight": "ارتفاع الصف",
  "ASPxRichEditStringId.TableProperties_Table": "الجدول",
  "ASPxRichEditStringId.TableProperties_Row": "صف",
  "ASPxRichEditStringId.TableProperties_Column": "عمود",
  "ASPxRichEditStringId.TableProperties_Cell": "الخلية",
  "ASPxRichEditStringId.TableProperties_Options": "خيارات...",
  "ASPxRichEditStringId.TableProperties_BordersAndShading": "حدود وتظليل...",
  "ASPxRichEditStringId.TableProperties_PreviousRow": "الصف السابق",
  "ASPxRichEditStringId.TableProperties_NextRow": "الصف التالي",
  "ASPxRichEditStringId.TableProperties_PreviousColumn": "العمود السابق",
  "ASPxRichEditStringId.TableProperties_NextColumn": "العمود التالي",
  "ASPxRichEditStringId.TableProperties_CantSplit": "السماح الصف المراد امتداد على صفحات",
  "ASPxRichEditStringId.TableOptions_DefaultCellMargins": "هوامش الخلية الافتراضي",
  "ASPxRichEditStringId.TableOptions_DefaultCellSpacing": "التباعد الافتراضي للخلايا",
  "ASPxRichEditStringId.TableOptions_AllowSpacing": "السماح بالتباعد بين الخلايا",
  "ASPxRichEditStringId.TableOptions_AutoResize": "تحجيم تلقائي لملاءمة المحتويات",
  "ASPxRichEditStringId.BorderShading_Borders": "حدود",
  "ASPxRichEditStringId.BorderShading_Shading": "التظليل",
  "ASPxRichEditStringId.BorderShading_Fill": "ملء",
  "ASPxRichEditStringId.BorderShading_BordersDescription": "انقر فوق الرسم التخطيطي أدناه أو استخدام الأزرار لتطبيق الحدود",
  "ASPxRichEditStringId.BorderShading_BordersNone": "لا شيء",
  "ASPxRichEditStringId.BorderShading_BordersBox": "مربع",
  "ASPxRichEditStringId.BorderShading_BordersAll": "جميع",
  "ASPxRichEditStringId.BorderShading_BordersGrid": "الشبكة",
  "ASPxRichEditStringId.BorderShading_BordersCustom": "مخصص",
  "ASPxRichEditStringId.CellOptions_CellMargins": "هوامش الخلية",
  "ASPxRichEditStringId.CellOptions_SameAsTable": "نفس الجدول بأكمله",
  "ASPxRichEditStringId.CellOptions_WrapText": "التفاف النص",
  "ASPxRichEditStringId.Columns_Presets": "الإعدادات المسبقة",
  "ASPxRichEditStringId.Columns_NumberOfColumns": "عدد الأعمدة",
  "ASPxRichEditStringId.Columns_WidthAndSpacing": "العرض والتباعد",
  "ASPxRichEditStringId.Columns_EqualWidth": "أعمدة متساوية العرض",
  "ASPxRichEditStringId.Columns_Col": "Col #:",
  "ASPxRichEditStringId.Columns_Width": "العرض",
  "ASPxRichEditStringId.Columns_Spacing": "تباعد",
  "ASPxRichEditStringId.PageFile": "الملف",
  "ASPxRichEditStringId.PageHome": "الصفحة الرئيسية",
  "ASPxRichEditStringId.PageInsert": "إدراج",
  "ASPxRichEditStringId.PagePageLayout": "تخطيط الصفحة",
  "ASPxRichEditStringId.PageReferences": "مراجع",
  "ASPxRichEditStringId.PageMailings": "دمج المراسلات",
  "ASPxRichEditStringId.PageReview": "استعراض",
  "ASPxRichEditStringId.PageView": "طريقة العرض",
  "ASPxRichEditStringId.PageHeaderAndFooter": "رأس & & تذييل الصفحة",
  "ASPxRichEditStringId.PageTableDesign": "التصميم",
  "ASPxRichEditStringId.PageTableLayout": "تخطيط",
  "ASPxRichEditStringId.PageFloatingObjects": "تنسيق",
  "ASPxRichEditStringId.GroupUndo": "التراجع عن",
  "ASPxRichEditStringId.GroupFont": "الخط",
  "ASPxRichEditStringId.GroupParagraph": "الفقرة",
  "ASPxRichEditStringId.GroupClipboard": "الحافظة",
  "ASPxRichEditStringId.GroupEditing": "تحرير",
  "ASPxRichEditStringId.GroupCommon": "المشتركة",
  "ASPxRichEditStringId.GroupStyles": "أنماط",
  "ASPxRichEditStringId.GroupZoom": "تكبير/تصغير",
  "ASPxRichEditStringId.GroupShow": "إظهار",
  "ASPxRichEditStringId.GroupIllustrations": "الرسوم التوضيحية",
  "ASPxRichEditStringId.GroupText": "نص",
  "ASPxRichEditStringId.GroupTables": "الجداول",
  "ASPxRichEditStringId.GroupSymbols": "رموز",
  "ASPxRichEditStringId.GroupLinks": "وصلات",
  "ASPxRichEditStringId.GroupPages": "صفحات",
  "ASPxRichEditStringId.GroupHeaderFooter": "رأس & & تذييل الصفحة",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignClose": "وثيقة",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignNavigation": "الملاحة",
  "ASPxRichEditStringId.GroupMailMerge": "دمج المراسلات",
  "ASPxRichEditStringId.GroupInsertFields": "إدراج حقول",
  "ASPxRichEditStringId.GroupMailMergeView": "طريقة العرض",
  "ASPxRichEditStringId.GroupCurrentRecord": "السجل الحالي",
  "ASPxRichEditStringId.GroupFinish": "إنهاء",
  "ASPxRichEditStringId.GroupDocumentViews": "طرق عرض المستندات",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignOptions": "خيارات",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignPosition": "موقف",
  "ASPxRichEditStringId.GroupPageSetup": "إعداد الصفحة",
  "ASPxRichEditStringId.GroupDocumentProtection": "حماية",
  "ASPxRichEditStringId.GroupDocumentProofing": "التدقيق",
  "ASPxRichEditStringId.GroupDocumentComment": "التعليق",
  "ASPxRichEditStringId.GroupDocumentTracking": "تتبع",
  "ASPxRichEditStringId.GroupTableOfContents": "جدول المحتويات",
  "ASPxRichEditStringId.GroupFloatingPictureToolsArrange": "ترتيب",
  "ASPxRichEditStringId.GroupFloatingPictureToolsShapeStyles": "أنماط الأشكال",
  "ASPxRichEditStringId.GroupCaptions": "التسميات التوضيحية",
  "ASPxRichEditStringId.GroupPageBackground": "معلومات أساسية",
  "ASPxRichEditStringId.GroupDocumentLanguage": "اللغة",
  "ASPxRichEditStringId.GroupView": "طريقة العرض",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyleOptions": "خيارات أنماط الجدول",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyles": "أنماط الجدول",
  "ASPxRichEditStringId.GroupTableToolsDesignBordersAndShadings": "الحدود & & الظلال",
  "ASPxRichEditStringId.GroupTableToolsLayoutTable": "الجدول",
  "ASPxRichEditStringId.GroupTableToolsLayoutRowsAndColumns": "الصفوف & & الأعمدة",
  "ASPxRichEditStringId.GroupTableToolsLayoutMerge": "دمج",
  "ASPxRichEditStringId.GroupTableToolsLayoutCellSize": "حجم الخلية",
  "ASPxRichEditStringId.GroupTableToolsLayoutAlignment": "المحاذاة",
  "ASPxRichEditStringId.GroupFloatingObjectsShapeStyles": "أنماط الأشكال",
  "ASPxRichEditStringId.GroupFloatingObjectsArrange": "ترتيب",
  "ASPxRichEditStringId.RequiredFieldError": "هذا الحقل مطلوب",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreen": "كاملة",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreenDescription": "تمكين/تعطيل وضع الشاشة الكاملة-",
  "ASPxRichEditStringId.SaveAsFileTitle": "حفظ باسم",
  "ASPxRichEditStringId.OpenFileTitle": "مفتوحة",
  "ASPxRichEditStringId.FontTitle": "الخط",
  "ASPxRichEditStringId.ParagraphTitle": "الفقرة",
  "ASPxRichEditStringId.PageSetupTitle": "إعداد الصفحة",
  "ASPxRichEditStringId.ColumnsTitle": "الأعمدة",
  "ASPxRichEditStringId.InsertTableTitle": "إدراج جدول",
  "ASPxRichEditStringId.InsertTableCellsTitle": "إدراج خلايا",
  "ASPxRichEditStringId.DeleteTableCellsTitle": "حذف خلايا",
  "ASPxRichEditStringId.SplitTableCellsTitle": "تقسيم الخلايا",
  "ASPxRichEditStringId.TablePropertiesTitle": "خصائص الجدول",
  "ASPxRichEditStringId.BorderShadingTitle": "حدود وتظليل",
  "ASPxRichEditStringId.InsertMergeFieldTitle": "إدراج حقل دمج",
  "ASPxRichEditStringId.ExportRangeTitle": "نطاق التصدير",
  "ASPxRichEditStringId.BookmarkTitle": "الإشارة المرجعية",
  "ASPxRichEditStringId.FindReplaceTitle": "البحث عن واستبدال",
  "ASPxRichEditStringId.InsertImageTitle": "إدراج الصورة",
  "ASPxRichEditStringId.ErrorTitle": "خطأ",
  "ASPxRichEditStringId.SpellingTitle": "التدقيق الإملائي",
  "ASPxRichEditStringId.InformationTitle": "معلومات",
  "ASPxRichEditStringId.WarningTitle": "تحذير",
  "ASPxRichEditStringId.RulerMarginLeftTitle": "الهامش الأيسر",
  "ASPxRichEditStringId.RulerMarginRightTitle": "الحق في الهامش",
  "ASPxRichEditStringId.RulerFirstLineIdentTitle": "",
  "ASPxRichEditStringId.RulerHangingIdentTitle": "",
  "ASPxRichEditStringId.RulerRightIdentTitle": "حق لهوية",
  "ASPxRichEditStringId.RulerLeftIdentTitle": "",
  "ASPxRichEditStringId.RulerFirstLineIndentTitle": "المسافة البادئة للخط الأول",
  "ASPxRichEditStringId.RulerHangingIndentTitle": "معلقة المسافة البادئة",
  "ASPxRichEditStringId.RulerRightIndentTitle": "",
  "ASPxRichEditStringId.RulerLeftIndentTitle": "المسافة البادئة اليمنى اليسرى",
  "ASPxRichEditStringId.RulerLeftTabTitle": "ترك علامة التبويب",
  "ASPxRichEditStringId.RulerRightTabTitle": "علامة التبويب الصحيح",
  "ASPxRichEditStringId.RulerCenterTabTitle": "علامة التبويب مركز",
  "ASPxRichEditStringId.RulerDecimalTabTitle": "العنوان العشري",
  "ASPxRichEditStringId.MarginsNarrow": "ضيقة",
  "ASPxRichEditStringId.MarginsNormal": "عادي",
  "ASPxRichEditStringId.MarginsModerate": "معتدلة",
  "ASPxRichEditStringId.MarginsWide": "على نطاق واسع",
  "ASPxRichEditStringId.ModelIsChangedError": "الوثيقة تم تعديل خارج المحرر، ويحتاج إلى أن يكون حصرياً. < br/> التغييرات في اللحظة الأخيرة الخاص بك قد لا يتم الاحتفاظ، إذا أي.",
  "ASPxRichEditStringId.SessionHasExpiredError": "انتهت مدة صلاحية جلسة العمل الخاصة بك. < br/> الرجاء تحديث الصفحة استمرار.",
  "ASPxRichEditStringId.OpeningAndOverstoreImpossibleError": "الفتح وحفظ المستند لا يسمح لعمليات < br/> حيث لم يتم تحديد دليل العمل للمحرر.",
  "ASPxRichEditStringId.ClipboardAccessDeniedError": "تم رفض الوصول إلى الحافظة بسبب سياسة الأمان في المتصفح الخاص بك. < br/> بدلاً من ذلك، يمكنك استخدام اختصارات لوحة المفاتيح: < br/> {0} + X (قص)، {0} ج (نسخ) و {0} + + V (لصق).",
  "ASPxRichEditStringId.ClipboardAccessDeniedErrorTouch": "تم رفض الوصول إلى الحافظة بسبب سياسة الأمان في المتصفح الخاص بك. بدلاً من ذلك، استخدم القائمة الأصلية التي يمكن استدعاؤها عن طريق التنصت وعقد المحتوى المحدد.",
  "ASPxRichEditStringId.InnerExceptionsError": "والمحرر يحتاج إلى أن يكون حصرياً. التغييرات الأخيرة الخاصة بك يمكن أن تضيع.",
  "ASPxRichEditStringId.AuthExceptionsError": "الوصول إلى المستند مقيد والمحرر يحتاج إلى أن يكون حصرياً. التغييرات الأخيرة الخاصة بك يمكن أن تضيع.",
  "ASPxRichEditStringId.CantSaveToEmptyPathError": "لا يمكن حفظ مستند مفتوح ليس من ملف. التعامل مع الحفظ الحدث عملية إنقاذ مخصصة",
  "ASPxRichEditStringId.ConfirmOnLosingChanges": "هل أنت متأكد من الذي تريد تنفيذ الإجراء؟ سيتم فقدان كافة البيانات التي لم يتم حفظها المستند.",
  "ASPxRichEditStringId.RestartNumbering": "ترقيم",
  "ASPxRichEditStringId.ContinueNumbering": "متابعة ترقيم",
  "ASPxRichEditStringId.UpdateField": "قم بتحديث الحقل",
  "ASPxRichEditStringId.ToggleFieldCodes": "تبديل رموز الحقول",
  "ASPxRichEditStringId.OpenHyperlink": "التشعبي إزالة",
  "ASPxRichEditStringId.EditHyperlink": "تحرير ارتباط تشعبي...",
  "ASPxRichEditStringId.RemoveHyperlink": "ارتباط تشعبي",
  "ASPxRichEditStringId.CantOpenDocumentError": "تعذر فتح المستند سبب حدوث خطأ في خادم.",
  "ASPxRichEditStringId.CantSaveDocumentError": "تعذر حفظ المستند سبب حدوث خطأ في خادم.",
  "ASPxRichEditStringId.DocVariableExceptionError": "لا يكون حساب حقل DOCVARIABLE سبب حدوث خطأ في خادم.",
  "ASPxRichEditStringId.InvalidDocumentFormatError": "الملف تالف ويتعذر فتحه.",
  "ASPxRichEditStringId.InsertContentFromServerExceptionError": "تعذر تنفيذ InsertContentFromServerCommand بسبب حدوث خطأ في الخادم.",
  "ASPxRichEditStringId.LoadPictureError": "تعذر تحميل الصورة.",
  "ASPxRichEditStringId.MenuCmd_CreateField": "قم بإنشاء الحقل",
  "ASPxRichEditStringId.MenuCmd_CreateFieldDescription": "إنشاء عنصر حيوي كعنصر نائب للبيانات التي قد تتغير في مستند.",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFields": "تحديث كافة الحقول",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFieldsDescription": "تحديث جميع العناصر الحيوية في المستند عن طريق الحصول على أحدث البيانات المصدر-",
  "ASPxRichEditStringId.ParagraphStyles": "أنماط الفقرة",
  "ASPxRichEditStringId.CharacterStyles": "أنماط الحرف",
  "ASPxRichEditStringId.BulletedAndNumberingTitle": "التعداد النقطي والتعداد الرقمي",
  "ASPxRichEditStringId.CustomizeNumberedListTitle": "تخصيص قائمة ذات تعداد رقمي",
  "ASPxRichEditStringId.CustomizeBulletedListTitle": "تخصيص قائمة ذات تعداد نقطي",
  "ASPxRichEditStringId.CustomizeOutlineNumberedTitle": "تخصيص قائمة المخطط التفصيلي",
  "ASPxRichEditStringId.HyperlinkTitle": "الارتباط التشعبي",
  "ASPxRichEditStringId.TabsTitle": "علامات التبويب",
  "ASPxRichEditStringId.SymbolsTitle": "رموز",
  "ASPxRichEditStringId.OtherLabels_None": "بلا",
  "ASPxRichEditStringId.OtherLabels_All": "جميع",
  "ASPxRichEditStringId.OtherLabels_ConfirmToRewriteExistingFile": "موجودة بالفعل. هل تريد استبداله؟",
  "ASPxRichEditStringId.Numbering_Character": "حرف...",
  "ASPxRichEditStringId.Numbering_Font": "الخط...",
  "ASPxRichEditStringId.Numbering_BulletCharacter": "حرف الرمز النقطي",
  "ASPxRichEditStringId.Numbering_BulletPosition": "موضع الرموز النقطية",
  "ASPxRichEditStringId.Numbering_TextPosition": "موضع النص",
  "ASPxRichEditStringId.Numbering_AlignedAt": "الانحياز في",
  "ASPxRichEditStringId.Numbering_IndentAt": "المسافة البادئة في",
  "ASPxRichEditStringId.Numbering_StartAt": "البدء في",
  "ASPxRichEditStringId.Numbering_NumberFormat": "",
  "ASPxRichEditStringId.Numbering_NumberStyle": "نمط الأرقام",
  "ASPxRichEditStringId.Numbering_NumberPosition": "رقم الموقف",
  "ASPxRichEditStringId.Numbering_Left": "اليسار",
  "ASPxRichEditStringId.Numbering_Center": "مركز",
  "ASPxRichEditStringId.Numbering_Right": "حق",
  "ASPxRichEditStringId.Numbering_FollowNumberWith": "اتبع عدد مع",
  "ASPxRichEditStringId.Numbering_Level": "مستوى",
  "ASPxRichEditStringId.Numbering_TabCharacter": "حرف علامة جدولة",
  "ASPxRichEditStringId.Numbering_Space": "الفضاء",
  "ASPxRichEditStringId.Numbering_Nothing": "لا شيء",
  "ASPxRichEditStringId.Numbering_Customize": "تخصيص...",
  "ASPxRichEditStringId.Numbering_Bulleted": "تعداد نقطي",
  "ASPxRichEditStringId.Numbering_Numbered": "تعداد رقمي",
  "ASPxRichEditStringId.Numbering_OutlineNumbered": "تعداد رقمي تفصيلي",
  "ASPxRichEditStringId.Hyperlink_EmailAddress": "البريد",
  "ASPxRichEditStringId.Hyperlink_Url": "عنوان URL",
  "ASPxRichEditStringId.Hyperlink_Bookmark": "الإشارة المرجعية",
  "ASPxRichEditStringId.Hyperlink_WebPage": "ويب",
  "ASPxRichEditStringId.Hyperlink_PlaceInThisDocument": "المستند",
  "ASPxRichEditStringId.Hyperlink_EmailTo": "البريد الإلكتروني إلى",
  "ASPxRichEditStringId.Hyperlink_Subject": "هذا الموضوع",
  "ASPxRichEditStringId.Hyperlink_DisplayProperties": "ديسبلايبروبيرتيس",
  "ASPxRichEditStringId.Hyperlink_Text": "نص",
  "ASPxRichEditStringId.Hyperlink_ToolTip": "تلميح أداة",
  "ASPxRichEditStringId.Hyperlink_InvalidEmail": "الإلكتروني غير صالح",
  "ASPxRichEditStringId.Tabs_Set": "تعيين",
  "ASPxRichEditStringId.Tabs_Clear": "واضحة",
  "ASPxRichEditStringId.Tabs_ClearAll": "مسح كافة",
  "ASPxRichEditStringId.Tabs_TabStopPosition": "موضع علامة الجدولة",
  "ASPxRichEditStringId.Tabs_DefaultTabStops": "علامة التبويب الافتراضية",
  "ASPxRichEditStringId.Tabs_TabStopsToBeCleared": "مسح علامات التبويب",
  "ASPxRichEditStringId.Tabs_Alignment": "المحاذاة",
  "ASPxRichEditStringId.Tabs_Leader": "الزعيم",
  "ASPxRichEditStringId.Tabs_Left": "اليسار",
  "ASPxRichEditStringId.Tabs_Center": "مركز",
  "ASPxRichEditStringId.Tabs_Right": "حق",
  "ASPxRichEditStringId.Tabs_Decimal": "العشرية",
  "ASPxRichEditStringId.Tabs_None": "لا شيء",
  "ASPxRichEditStringId.Tabs_Hyphens": "واصلات",
  "ASPxRichEditStringId.Tabs_EqualSign": "علامات المساواة",
  "ASPxRichEditStringId.Tabs_Dots": "النقاط",
  "ASPxRichEditStringId.Tabs_Underline": "تسطير",
  "ASPxRichEditStringId.Tabs_MiddleDots": "الأوسط النقاط",
  "ASPxRichEditStringId.Tabs_ThickLine": "خط سميك",
  "ASPxRichEditStringId.FinishMerge_From": "من",
  "ASPxRichEditStringId.FinishMerge_Count": "العد",
  "ASPxRichEditStringId.FinishMerge_MergeMode": "دمج الوضع",
  "ASPxRichEditStringId.FinishMerge_AllRecords": "كافة السجلات",
  "ASPxRichEditStringId.FinishMerge_CurrentRecord": "الحالي",
  "ASPxRichEditStringId.FinishMerge_Range": "النطاق",
  "ASPxRichEditStringId.FinishMerge_NewParagraph": "فقرة جديدة",
  "ASPxRichEditStringId.FinishMerge_NewSection": "مقطع جديد",
  "ASPxRichEditStringId.FinishMerge_JoinTables": "ربط الجداول",
  "ASPxRichEditStringId.InsertMergeField_Fields": "الحقول",
  "ASPxRichEditStringId.Bookmarks_BookmarkName": "المعلمة اسم إشارة مرجعية",
  "ASPxRichEditStringId.Bookmarks_SortBy": "فرز حسب",
  "ASPxRichEditStringId.Bookmarks_Name": "الاسم",
  "ASPxRichEditStringId.Bookmarks_Location": "موقع",
  "ASPxRichEditStringId.Bookmarks_Add": "إضافة",
  "ASPxRichEditStringId.Bookmarks_Delete": "حذف",
  "ASPxRichEditStringId.Bookmarks_GoTo": "انتقل إلى",
  "ASPxRichEditStringId.Bookmarks_NameErrorText": "يجب أن تبدأ أسماء الإشارات المرجعية بحرف",
  "ASPxRichEditStringId.FindReplace_Find": "البحث عن",
  "ASPxRichEditStringId.FindReplace_AdvancedFind": "البحث المتقدم",
  "ASPxRichEditStringId.FindReplace_Replace": "استبدال",
  "ASPxRichEditStringId.FindReplace_ReplaceAll": "استبدال جميع",
  "ASPxRichEditStringId.FindReplace_ReplaceWith": "يستعاض عن",
  "ASPxRichEditStringId.FindReplace_Previous": "السابقة",
  "ASPxRichEditStringId.FindReplace_Next": "التالية",
  "ASPxRichEditStringId.FindReplace_MatchCase": "مطابقة حالة الأحرف",
  "ASPxRichEditStringId.FindReplace_Results": "النتائج",
  "ASPxRichEditStringId.FindReplace_NoResult": "لا يمكن أن نجد ما كنت ابحث له.",
  "ASPxRichEditStringId.FindReplace_TooLongResult": "النتيجة طويل جداً. راجع الصفحات لرؤية النتائج الخاصة بك في النص-",
  "ASPxRichEditStringId.FindReplace_ReplaceAllNotify": "وقد تم استبدال إدخالات {0}",
  "ASPxRichEditStringId.FindReplace_Items": "العناصر",
  "ASPxRichEditStringId.FindReplace_NoMatches": "لا توجد مباريات",
  "ASPxRichEditStringId.FindReplace_Of": "of",
  "ASPxRichEditStringId.SpellingCheckCompletedInformation": "اكتمال التدقيق الإملائي.",
  "ASPxRichEditStringId.Spelling_IgnoreOnce": "تجاهل مرة واحدة",
  "ASPxRichEditStringId.Spelling_IgnoreAll": "تجاهل الكل",
  "ASPxRichEditStringId.Spelling_AddToDictionary": "إضافة إلى قاموس",
  "ASPxRichEditStringId.Spelling_Delete": "حذف",
  "ASPxRichEditStringId.Spelling_Change": "التغيير",
  "ASPxRichEditStringId.Spelling_ChangeAll": "تغيير كافة",
  "ASPxRichEditStringId.Spelling_NotInDictionary": "ليست في القاموس:",
  "ASPxRichEditStringId.Spelling_RepeatedWord": "تكرار كلمة:",
  "ASPxRichEditStringId.Spelling_Suggestions": "الاقتراحات:",
  "ASPxRichEditStringId.Spelling_NoSpellingSuggestions": "(لا يوجد اقتراحات للتدقيق الإملائي)",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCase": "الجملة الحالة.",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCaseDescription": "الجملة الحالة.",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsForm": "صفحة",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsFormDescription": "تخصيص هوامش الخلية",
  "ASPxRichEditStringId.MenuCmd_HeaderOffset": "رأس من أعلى:",
  "ASPxRichEditStringId.MenuCmd_FooterOffset": "تذييل الصفحة من الأسفل:",
  "ASPxRichEditStringId.MenuCmd_HeaderOffsetDescription": "تحديد المسافة من الجزء العلوي من الصفحة إلى أعلى رأس الصفحة.",
  "ASPxRichEditStringId.MenuCmd_FooterOffsetDescription": "تحديد المسافة من أسفل الصفحة إلى أسفل تذييل الصفحة.",
  "ASPxRichEditStringId.LayoutOptions_Inline": "وتمشيا مع النص",
  "ASPxRichEditStringId.LayoutOptions_LockAnchor": "تأمين الارتساء",
  "ASPxRichEditStringId.LayoutOptions_LockAspectRatio": "تأمين نسبة الارتفاع",
  "ASPxRichEditStringId.LayoutOptions_Reset": "إعادة تعيين",
  "ASPxRichEditStringId.LayoutOptions_BothSides": "كلا الجانبين",
  "ASPxRichEditStringId.LayoutOptions_LeftOnly": "اليسار فقط",
  "ASPxRichEditStringId.LayoutOptions_RightOnly": "الحق فقط",
  "ASPxRichEditStringId.LayoutOptions_LargestOnly": "الأكبر فقط",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentInside": "داخل",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentOutside": "في الخارج",
  "ASPxRichEditStringId.LayoutOptions_Position": "موقف",
  "ASPxRichEditStringId.LayoutOptions_Horizontal": "أفقي",
  "ASPxRichEditStringId.LayoutOptions_Vertical": "عمودي",
  "ASPxRichEditStringId.LayoutOptions_RelativeTo": "نسبة إلى",
  "ASPxRichEditStringId.LayoutOptions_HorizontalBookLayoutOf": "of",
  "ASPxRichEditStringId.LayoutOptions_AbsolutePosition": "الموضع المطلق",
  "ASPxRichEditStringId.LayoutOptions_RelativePosition": "موضع شهر",
  "ASPxRichEditStringId.LayoutOptions_Alignment": "المحاذاة",
  "ASPxRichEditStringId.LayoutOptions_BookLayout": "تخطيط كتاب",
  "ASPxRichEditStringId.LayoutOptions_ToTheRightOf": "إلى يمين",
  "ASPxRichEditStringId.LayoutOptions_Below": "أدناه",
  "ASPxRichEditStringId.LayoutOptions_TextWrapping": "التفاف النص",
  "ASPxRichEditStringId.LayoutOptions_WrappingStyle": "نمط الالتفاف",
  "ASPxRichEditStringId.LayoutOptions_WrapText": "التفاف النص",
  "ASPxRichEditStringId.LayoutOptions_DistanceFromText": "المسافة من النص",
  "ASPxRichEditStringId.LayoutOptions_Size": "الحجم",
  "ASPxRichEditStringId.LayoutOptions_Absolute": "المطلقة",
  "ASPxRichEditStringId.LayoutOptions_Relative": "النسبي",
  "ASPxRichEditStringId.LayoutOptions_Rotate": "تدوير",
  "ASPxRichEditStringId.LayoutOptions_Rotation": "التناوب",
  "ASPxRichEditStringId.LayoutOptions_Scale": "مقياس",
  "ASPxRichEditStringId.LayoutOptions_OriginalSize": "الحجم الأصلي",
  "ASPxRichEditStringId.FileManager_OpenedFileDeleteErrorText": ". أنه مفتوح مسبقاً من قبل مستخدم آخر.",
  "ASPxRichEditStringId.FileManager_OpenedFileMoveErrorText": ". أنه مفتوح مسبقاً من قبل مستخدم آخر.",
  "ASPxRichEditStringId.FileManager_OpenedFileRenameErrorText": ". أنه مفتوح مسبقاً من قبل مستخدم آخر.",
  "ASPxRichEditStringId.CreateDateField": "تاريخ",
  "ASPxRichEditStringId.CreateDateFieldDescription": "بإدراج التاريخ الحالي والوقت-",
  "ASPxRichEditStringId.CreateTimeField": "الوقت",
  "ASPxRichEditStringId.CreateTimeFieldDescription": "إدراج الوقت الحالي.",
  "ASPxRichEditStringId.CreatePageField": "",
  "ASPxRichEditStringId.CreatePageFieldDescription": "إدراج رقم الصفحة التي تحتوي على الميدان-",
  "ASPxRichEditStringId.CreatePageCountField": "NUMPAGES",
  "ASPxRichEditStringId.CreatePageCountFieldDescription": "إدراج العدد الإجمالي للصفحات.",
  "ASPxRichEditStringId.CreateEmptyMergeField": "حقل الدمج",
  "ASPxRichEditStringId.CreateEmptyMergeFieldDescription": "يقوم باسترداد قيمة من مصدر البيانات المنضم.",
  "ASPxRichEditStringId.CreateEmptyDocVariableField": "DOCVARIABLE",
  "ASPxRichEditStringId.CreateEmptyDocVariableFieldDescription": "تمكنك من إدراج المحتوى المعقدة برمجياً عندما يتم تحديث هذا الحقل-",
  "ASPxRichEditStringId.InsertMergeField_NoFields": "لا توجد حقول",
  "ASPxRichEditStringId.Tabs_NoTabs": "لا علامات التبويب",
  "ASPxRichEditStringId.Bookmarks_NoBookmarks": "لا توجد إشارات مرجعية",
  "ASPxRichEditStringId.MenuCmd_Font_settings": "إعدادات خط الفقرة",
  "ASPxRichEditStringId.MenuCmd_Align_Paragraph": "محاذاة"
}